<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="17" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="药品盖产品检测系统登录" />
    <add key="TV_SCREEN_TITLE" value="Production Statistics" />
    <add key="LANGUAGE" value="CHS" />
    <add key="NGIMGCOUNT" value="64" />
    <add key="ALLPICTIME" value="50" />
    <add key="BATCHNUMBERFUNC" value="Y" />
    <add key="SHOWSYSTEMSTATEFUNC" value="Y" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="7" />
    <add key="BATCHNUMBER" value="F180528" />
  </BasicSetting>
  <ShiftSetting auto_reset="false">
    <shift name="早班" bgn_time="800" end_time="2000" />
    <shift name="夜班" bgn_time="2000" end_time="800" />
  </ShiftSetting>
  <TaskModel>
    <model name="底部模板" product_id="17">
      <interface index="0" name="CenterLocationAlgo1" nickname="中心定位" param="N/A,4,192,0.85" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="匹配区域" param="N/A,5,185,208" />
      <interface index="2" name="MatchingParaAlgo" nickname="匹配计算" param="&gt;=$0.5,5,0.85,1, , " />
    </model>
    <model name="内壁模板" product_id="17">
      <interface index="0" name="CenterLocationAlgoHS" nickname="中心定位" param="N/A,0,200,50,70" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="检测区域1" param="N/A,1,185,208" />
    </model>
    <model name="内底模板" product_id="17">
      <interface index="0" name="CenterLocationAlgoUsePointFitting" nickname="中心定位" param="N/A,0,0,0,185,208,75,1,1,1,1.0,10.0" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="检测区域1" param="N/A,1,185,208" />
    </model>
    <model name="侧面模板" product_id="17">
      <interface index="0" name="CenterTopLocationAlgo" nickname="中心定位" param="N/A,0,1,100,100,1000,600,50" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="17" max_speed="15">
      <Camera>
        <Name>CA1 (22834413)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>254</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>122</ExposureTime>
      </Camera>
      <Light id="0" tag="工位1同轴光源$工位2环光源$$">
        <ParameterGroup name="外底检测">
          <controller id="0" mode="1" value="255$0$3;255$0$3;10$100$10;10$100$10" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>12</RedLightPort>
        <GreenLightPort>15</GreenLightPort>
        <Mode>129.101.1.160</Mode>
        <Delay>2829</Delay>
        <SignalWidth>20</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>1</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>0</CDC>
        <DeviceIP>192.168.200.160</DeviceIP>
        <DropDetectPort>1</DropDetectPort>
        <CDC_SA>0</CDC_SA>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>0</ReSiToSol>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CameraGrabTime>20</CameraGrabTime>
        <SignalIngorTime>27</SignalIngorTime>
        <TriggerIngoreTime>20</TriggerIngoreTime>
        <LastN>5000</LastN>
        <LastNRatioUCL>0.5</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <ContinueFramAlarm>5</ContinueFramAlarm>
        <ContinueRejectAlarm>50</ContinueRejectAlarm>
      </Rejector>
      <DispConfig>
        <Width>700</Width>
        <Height>500</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="外底检测">
        <task name="外底检测" model_name="底部模板" product_id="17" blowthreshold="674">
          <interface index="0" enable="true" name="CenterLocationAlgo1" param="N/A,4,342,0.850" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,336.000,90.000" nickname="外环区域" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$100,3,11.500,16,80" nickname="脏污检测" />
          <interface index="3" enable="true" name="AnnularRotaDynThresholdForColorAlgo" param="&lt;=$24,3,0,1,4.500,56,18" nickname="外环缺陷检测" />
          <interface index="4" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,60.000,208.000" nickname="匹配区域" />
          <interface index="5" enable="true" name="MatchingParaAlgo" param="&gt;=$0.5,5,0.850,1,C:\SMVS_MCS\trunk\x64\Debug\data\CH1\外底检测\印刷模板\印刷模板.shm, " nickname="匹配计算" />
          <interface index="6" enable="true" name="CircleRegionLocationAlgo" param="N/A,0,30.000,208.000" nickname="图案偏心检测" />
          <interface index="7" enable="true" name="DetectOcrDistOffsetAlgo" param="&lt;=$40,0" nickname="偏心" />
          <interface index="8" enable="true" name="CircleRegionAngleAlgo1" param="N/A,6,36.000,125.000,38.000,356.000" nickname="平缓区域1" />
          <interface index="9" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$200,6,8.000,12,112" nickname="凹痕检测" />
          <interface index="10" enable="true" name="DetectRegionLocationExtractOCRAlgo" param="N/A,1,310.000,2.000,C:\SMVS_MCS\trunk\x64\Debug\data\CH1\外底检测\印刷模板\20190613140729.reg" nickname="平缓区域" />
          <interface index="11" enable="false" name="GSurfaceAlgo" param="&lt;=$20,1,160,20,999,250" nickname="凹痕" />
          <interface index="12" enable="true" name="EdgeForColorAlgo" param="&lt;=$90,1,0,2,16,60" nickname="划痕检测" />
          <interface index="13" enable="true" name="DynThresholdForColorAlgo" param="&lt;=$30,1,0,2,30,46,28,12,33,20" nickname="黑白缺陷检测" />
          <interface index="14" enable="true" name="DetectRegionLocationAlgoOCR" param="N/A,2,0.500,1,C:\SMVS_MCS\trunk\x64\Debug\data\CH1\外底检测\印刷模板\20190613162421.reg, " nickname="图案区域" />
          <interface index="15" enable="true" name="DynThresholdAlgoOCR" param="&lt;$20,2,108,30,169,40,3.000" nickname="图案检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="2" product_id="17" max_speed="15">
      <Camera>
        <Name>CA2 (22938443)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>310</Gain>
        <DelayAbs>1048</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>135</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="内壁检测" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>2</RejectorPort>
        <RedLightPort>12</RedLightPort>
        <GreenLightPort>15</GreenLightPort>
        <Mode>129.101.1.161</Mode>
        <Delay>2829</Delay>
        <SignalWidth>20</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>1</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>0</CDC>
        <DeviceIP>192.168.200.161</DeviceIP>
        <DropDetectPort>3</DropDetectPort>
        <CDC_SA>0</CDC_SA>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>0</ReSiToSol>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CameraGrabTime>20</CameraGrabTime>
        <SignalIngorTime>15</SignalIngorTime>
        <TriggerIngoreTime>20</TriggerIngoreTime>
        <LastN>5000</LastN>
        <LastNRatioUCL>0.5</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <ContinueFramAlarm>5</ContinueFramAlarm>
        <ContinueRejectAlarm>50</ContinueRejectAlarm>
      </Rejector>
      <DispConfig>
        <Width>700</Width>
        <Height>500</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="内壁检测">
        <task name="内壁检测" model_name="内壁模板" product_id="17" blowthreshold="582">
          <interface index="0" enable="true" name="CenterLocationAlgoHS" param="N/A,0,394,50,70" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,10,366.000,10.000" nickname="变形检测" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$40,10,2.000,50,30" nickname="口部变形" />
          <interface index="3" enable="true" name="BoundaryRegionLocationAlgo" param="N/A,6,-4,3" nickname="边缘区域" />
          <interface index="4" enable="true" name="BlackDetectAlgo" param="&lt;=$10,6,7,20,91,10" nickname="带料检测" />
          <interface index="5" enable="true" name="AnnularRotaDynThresholdForColorAlgo" param="&lt;=$28,6,0,2,1.500,90,17" nickname="边缘检测" />
          <interface index="6" enable="true" name="BoundaryRegionLocationAlgo" param="N/A,7,-17,36" nickname="边缘区域2" />
          <interface index="7" enable="true" name="AnnularRotaDynThresholdForColorAlgo" param="&lt;=$28,7,0,1,2.500,16,13" nickname="边缘黑色缺陷" />
          <interface index="8" enable="true" name="DynThresholdAlgo" param="&lt;$20,7,30,12,10,7,60,10" nickname="油污检测" />
          <interface index="9" enable="true" name="BoundaryRegionLocationAlgo" param="N/A,8,-7,12" nickname="拐角区域" />
          <interface index="10" enable="true" name="AnnularRotaDynThresholdForColorAlgo" param="&lt;=$20,8,0,2,1.000,130,14" nickname="拐角污染" />
          <interface index="11" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,300.000,390.000" nickname="整体区域" />
          <interface index="12" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$14,5,1.000,1.000,-1,330,14,200,10" nickname="整体黑白点检测" />
          <interface index="13" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,364.000,68.500" nickname="检测区域1" />
          <interface index="14" enable="true" name="DynThresholdAlgo" param="&lt;=$10,1,34,10,10,7,60,10" nickname="区域1缺陷" />
          <interface index="15" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$21,1,5.500,7.000,12,30.000,10" nickname="区域1黑白缺陷" />
          <interface index="16" enable="true" name="CurlNoCompoundAlgo" param="&gt;=$50,1" nickname="色差" />
          <interface index="17" enable="true" name="LineDetectionAlgo" param="&lt;$17.00,1,1.000,1.400,3.000,-1,10" nickname="拉丝" />
          <interface index="18" enable="true" name="CenterLocationAlgo1" param="N/A,2,186,0.850" nickname="二次定位" />
          <interface index="19" enable="true" name="CurlNoCompoundAlgo" param="&gt;=$0,2" nickname="定位" />
          <interface index="20" enable="true" name="CircleRegionLocationAlgo" param="N/A,11,303.500,50.000" nickname="检测区域4" />
          <interface index="21" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;$22,11,3.500,10.000,10,36.000,10" nickname="黑色缺陷" />
          <interface index="22" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$26,11,2.500,20,20" nickname="区域4缺陷检测" />
          <interface index="23" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,202.000,30.000" nickname="检测区域2" />
          <interface index="24" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,3,5.000,16,10" nickname="区域2黑白检测" />
          <interface index="25" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,212.000,20.000" nickname="检测区域3" />
          <interface index="26" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$12,9,8.500,10,10" nickname="区域3检测" />
          <interface index="27" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,174.000,208.000" nickname="底部区域" />
          <interface index="28" enable="true" name="DynThresholdAlgo" param="&lt;$14,4,30,26,12,30,20,10" nickname="底部黑白检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="3" product_id="17" max_speed="15">
      <Camera>
        <Name>CA3 (22574725)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1816</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>90</ExposureTime>
      </Camera>
      <Light id="1" tag="背光$大环光$小环光$">
        <ParameterGroup name="内底检测">
          <controller id="1" mode="1" value="138$0$1;198$0$1;197$0$1;0$0$1" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>4</RejectorPort>
        <RedLightPort>12</RedLightPort>
        <GreenLightPort>15</GreenLightPort>
        <Mode>129.101.1.162</Mode>
        <Delay>2829</Delay>
        <SignalWidth>20</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>1</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>0</CDC>
        <DeviceIP>192.168.200.162</DeviceIP>
        <DropDetectPort>5</DropDetectPort>
        <CDC_SA>0</CDC_SA>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>0</ReSiToSol>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CameraGrabTime>20</CameraGrabTime>
        <SignalIngorTime>27</SignalIngorTime>
        <TriggerIngoreTime>20</TriggerIngoreTime>
        <LastN>5000</LastN>
        <LastNRatioUCL>0.5</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <ContinueFramAlarm>5</ContinueFramAlarm>
        <ContinueRejectAlarm>50</ContinueRejectAlarm>
      </Rejector>
      <DispConfig>
        <Width>700</Width>
        <Height>500</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="内底检测">
        <task name="内底检测" model_name="内底模板" product_id="17" blowthreshold="300">
          <interface index="0" enable="false" name="CenterLocationAlgoUsePointFitting" param="N/A,0,450,619,400.000,170.000,75,1,1,0,1.350,9.300" nickname="中心定位" />
          <interface index="1" enable="true" name="CenterLocationAlgo1" param="N/A,3,312,0.850" nickname="中心定位1" />
          <interface index="2" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,309.000,60.000" nickname="检测区域1" />
          <interface index="3" enable="true" name="DynThresholdAlgo" param="&lt;$14,1,8,28,15,7,60,10" nickname="区域1黑白缺陷" />
          <interface index="4" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,1,4.500,35,14" nickname="区域1检测" />
          <interface index="5" enable="true" name="CircleRegionLocationAlgo" param="N/A,2,290.000,390.000" nickname="检测区域2" />
          <interface index="6" enable="false" name="CurlNoCompoundAlgo" param="&gt;=$60,2" nickname="有无垫片" />
          <interface index="7" enable="true" name="LineDetectionAlgo" param="&lt;$16.00,2,1.200,5.000,11.000,-1,16" nickname="纤维检测" />
          <interface index="8" enable="true" name="DynThresholdAlgo" param="&lt;$26,2,40,40,18,24,38,18" nickname="区域2黑白检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="4" product_id="17" max_speed="15" single_processor="false" Modelfiles="true">
      <Camera>
        <Name>CA4 (22834415)</Name>
        <TriggerMode>N</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1816</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>116</ExposureTime>
      </Camera>
      <Camera>
        <Name>CA5 (22488271)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1816</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>116</ExposureTime>
      </Camera>
      <Camera>
        <Name>CA6 (22722390)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1816</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>116</ExposureTime>
      </Camera>
      <Camera>
        <Name>CA7 (22574705)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>2</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1816</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>116</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="四周检测" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>6</RejectorPort>
        <RedLightPort>12</RedLightPort>
        <GreenLightPort>15</GreenLightPort>
        <Mode>192.168.200.163</Mode>
        <Delay>2829</Delay>
        <SignalWidth>20</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>1</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>0</CDC>
        <DeviceIP>192.168.200.163</DeviceIP>
        <DropDetectPort>7</DropDetectPort>
        <CDC_SA>0</CDC_SA>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>0</ReSiToSol>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CameraGrabTime>10</CameraGrabTime>
        <SignalIngorTime>27</SignalIngorTime>
        <TriggerIngoreTime>60</TriggerIngoreTime>
        <LastN>5000</LastN>
        <LastNRatioUCL>0.5</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <ContinueFramAlarm>5</ContinueFramAlarm>
        <ContinueRejectAlarm>50</ContinueRejectAlarm>
      </Rejector>
      <DispConfig>
        <Width>600</Width>
        <Height>500</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="四周检测">
        <task name="四周检测" model_name="侧面检测" product_id="17" blowthreshold="1079" DelayGainExposure="">
          <interface index="0" enable="true" name="CenterTopLocationAlgo" param="N/A,0,2,20,120,1000,260,90" nickname="中心定位" />
          <interface index="1" enable="true" name="TopEdgeRegionLocationAlgo" param="N/A,19,12,60,9" nickname="口部侧面区域" />
          <interface index="2" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,19,6,1,20,60,10,66,18,14" nickname="口部白点检测" />
          <interface index="3" enable="true" name="TopEdgeRegionLocationAlgo" param="N/A,5,26,60,30" nickname="检测区域1" />
          <interface index="4" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$30,5,0,1,60,10,10,12,20,10" nickname="口部黑油检测" />
          <interface index="5" enable="true" name="DynThresholdAlgo" param="&lt;=$18,5,12,10,10,12,24,12" nickname="区域1黑白" />
          <interface index="6" enable="true" name="CircleRegionLocationAlgo" param="N/A,14,10.000,208.000" nickname="上排文字定位" />
          <interface index="7" enable="true" name="UpCharLocationAlgo" param="&gt;=$0,14,1,50,58,70,70,133,50,7,56,193" nickname="字符匹配定位" />
          <interface index="8" enable="true" name="UpCharRegionLocationAlgo" param="N/A,15,1,65,60,107,15,13" nickname="上排字符检测区域" />
          <interface index="9" enable="true" name="BubbleDetectProfileAlgoNew" param="&lt;=$15,15,0,1,36,19,10,36,18,10" nickname="平缓区域检测" />
          <interface index="10" enable="true" name="CircleRegionLocationAlgo" param="N/A,16,10.000,208.000" nickname="下排字符定位" />
          <interface index="11" enable="true" name="LowCharLocationAlgo" param="&gt;=$0.00,16,114,14,25,24,200" nickname="字符定位" />
          <interface index="12" enable="true" name="LowCharRegionLocationAlgo" param="N/A,17,0,164,100,60,8" nickname="下排字符检测区域" />
          <interface index="13" enable="true" name="CurlNoCompoundAlgoNew" param="&gt;=$0,17,9" nickname="字符有无" />
          <interface index="14" enable="true" name="LowCharRegionLocationAlgo" param="N/A,18,1,167,90,90,13" nickname="下排字符平缓区域" />
          <interface index="15" enable="true" name="BubbleDetectProfileAlgoNew" param="&lt;=$17,18,0,2,7,60,10,20,22,10" nickname="印刷不全" />
          <interface index="16" enable="true" name="BubbleDetectProfileAlgoNew" param="&lt;=$30,18,0,1,60,10,14,20,30,12" nickname="脏污" />
          <interface index="17" enable="true" name="TopEdgeRegionLocationAlgo" param="N/A,6,60,31,32" nickname="条纹印刷区域1" />
          <interface index="18" enable="true" name="DynThresholdForColorAlgo" param="&gt;=$900,6,0,2,7,60,10,60,14,10" nickname="漏印检测1" />
          <interface index="19" enable="true" name="TopEdgeRegionLocationAlgo" param="N/A,7,163,30,29" nickname="条纹印刷区域2" />
          <interface index="20" enable="true" name="DynThresholdForColorAlgo" param="&gt;=$900,7,0,2,7,60,10,50,10,10" nickname="漏印检测2" />
          <interface index="21" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,10.000,10.000" nickname="基准线1定位" />
          <interface index="22" enable="true" name="BaseEdgeDetectAlgo" param="&gt;=$0.00,1,1,294,41,18,0,1,3" nickname="基准线1提取" />
          <interface index="23" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,2,-16,60,20" nickname="检测区域2" />
          <interface index="24" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$26,2,0,1,60,13,12,14,15,12" nickname="区域2黑白" />
          <interface index="25" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,8,14,50,20" nickname="检测区域3" />
          <interface index="26" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$18,8,3,1,7,60,10,7,26,12" nickname="区域3黑白缺陷" />
          <interface index="27" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,9,47,50,12" nickname="检测区域4" />
          <interface index="28" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$12,9,6,1,20,20,10,10,22,13" nickname="区域4黑白缺陷" />
          <interface index="29" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,10,89,48,57" nickname="检测区域5" />
          <interface index="30" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$40,10,0,2,45,60,10,60,11,14" nickname="印刷缺陷" />
          <interface index="31" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$70,10,0,1,60,8,14,40,30,10" nickname="区域5黑白缺陷" />
          <interface index="32" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,11,140,65,12" nickname="检测区域6" />
          <interface index="33" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$16,11,0,1,16,30,10,12,30,10" nickname="区域6黑白缺陷" />
          <interface index="34" enable="false" name="CircleRegionLocationAlgo" param="N/A,3,10.000,208.000" nickname="基准线2定位" />
          <interface index="35" enable="false" name="BaseEdgeDetectAlgo" param="&gt;=$0.00,3,2,413,60,20,0,0,3" nickname="基准线2提取" />
          <interface index="36" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,4,199,76,16" nickname="检测区域7" />
          <interface index="37" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$18,4,6,1,60,18,12,20,25,12" nickname="区域7黑白缺陷" />
          <interface index="38" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,12,301,48,135" nickname="检测区域8" />
          <interface index="39" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,12,0,2,45,24,10,50,22,21" nickname="印刷不良" />
          <interface index="40" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$60,12,0,1,60,7,18,60,24,28" nickname="区域8黑白缺陷" />
          <interface index="41" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,13,382,50,16" nickname="检测区域9" />
          <interface index="42" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,13,0,1,1,20,10,20,20,10" nickname="区域9黑白缺陷" />
          <interface index="43" enable="true" name="SideEdgeRegionLocationAlgo" param="N/A,20,449,96,47" nickname="底部检测" />
          <interface index="44" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$16,20,6,2,80,20,12,40,37,12" nickname="底部印刷不良" />
        </task>
      </TaskGroup>
    </channel>
  </PanelSetting>
</configuration>
