<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <BasicSetting>
        <add key="PRODUCT" value="1" />
        <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
        <add key="LOGON_DLG_TITLE" value="XXXX公司XX产品检测系统登录" />
        <add key="LANGUAGE" value="CHS" />
        <add key="LC_PORT" value="3" />
        <!--CHS,CHT,ENU-->
    </BasicSetting>
    <ShiftSetting>
        <shift name="早班" bgn_time="630" end_time="1230" />
        <shift name="中班" bgn_time="1300" end_time="1900" />
        <shift name="夜班" bgn_time="1930" end_time="130" />
    </ShiftSetting>
    <TaskModel>
        <model index="1" name="内无图任务模板_CH1" product_id="1">
            <interface index="0" name="CrownCapLocationUseEdgeAlgo" nickname="中心定位" param="N/A,0,3,8,170,98" />
            <interface index="1" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,97,-100,1" />
            <interface index="2" name="CircleDetectAlgo" nickname="中心区域检测1" param="&lt;$18,2,7,2.50,55,6" />
            <interface index="3" name="CircleOtherDetectAlgo" nickname="中心区域检测2" param="&lt;$120,2,15.50,20,3.00,50,1,50" />
            <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="内环定位" param="N/A,3,105,6,1" />
            <interface index="5" name="CircleOtherDetectAlgo" nickname="内环检测" param="&lt;$46,3,3.50,10,1.50,12,1,50" />
            <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="中环定位" param="N/A,4,112,7,1" />
            <interface index="7" name="CircleOtherDetectAlgo" nickname="中环检测" param="&lt;$60,4,3.50,12,1.50,12,1,50" />
            <interface index="8" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_黑点" param="N/A,5,120,10,1" />
            <interface index="9" name="CircleDetectAlgo" nickname="外环黑点检测" param="&lt;$60,5,5,1.50,84,6" />
            <interface index="10" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_气泡" param="N/A,6,114,18,1" />
            <interface index="11" name="CircleOtherDetectAlgo" nickname="外环气泡断胶检测" param="&lt;$60,6,5.50,15,2.50,15,1,50" />
            <interface index="12" name="CrownCapCircleRegionLocationAlgo" nickname="飞边定位" param="N/A,7,138,7,1" />
            <interface index="13" name="CircleOtherDetectAlgo" nickname="飞边检测" param="&lt;$60,7,8.50,20,1.50,20,1,50" />
            <interface index="14" name="CrownCapCircleRegionLocationAlgo" nickname="椭圆度检测定位" param="N/A,8,151,38,1" />
            <interface index="15" name="CircleRateDetectAlgo" nickname="椭圆度检测" param="&gt;$95,8,62,110" />
            <interface index="16" name="CrownCapCircleRegionLocationAlgo" nickname="裙边检测定位" param="N/A,9,152,28,1" />
            <interface index="17" name="CrownCapDetectAlgo" nickname="裙边检测" param="&lt;$2.50,9,156,25,1600" />
        </model>
        <model index="2" name="内有图任务模板_CH1" product_id="1">
            <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="内有图任务模板_CH1" />
            <interface index="1" name="CrownCapLocationUseEdgeAlgo" nickname="中心定位" param="N/A,0,3,8,180,150" />
            <interface index="2" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,1,130,-160,1" />
            <interface index="3" name="CrownCapMatchingParaAlgo" nickname="计算匹配参数" param="&gt;$0.30,1,0.90,1" />
            <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,99,-150,1" />
            <interface index="5" name="CrownCapCenterImageDetectAlgo" nickname="中心图案检测" param="&lt;=$20.50,2,3.00,30,45,2.50,2,1" />
            <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="内环定位" param="N/A,3,105,6,1" />
            <interface index="7" name="CircleOtherDetectAlgo" nickname="内环检测" param="&lt;$46,3,3.50,10,1.50,12,1,50" />
            <interface index="8" name="CrownCapCircleRegionLocationAlgo" nickname="中环定位" param="N/A,4,112,7,1" />
            <interface index="9" name="CircleOtherDetectAlgo" nickname="中环检测" param="&lt;$60,4,3.50,12,1.50,12,1,50" />
            <interface index="10" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_黑点" param="N/A,5,120,10,1" />
            <interface index="11" name="CircleDetectAlgo" nickname="外环黑点检测" param="&lt;$60,5,5,1.50,84,6" />
            <interface index="12" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_气泡" param="N/A,6,114,18,1" />
            <interface index="13" name="CircleOtherDetectAlgo" nickname="外环气泡断胶检测" param="&lt;$60,6,5.50,15,2.50,15,1,50" />
            <interface index="14" name="CrownCapCircleRegionLocationAlgo" nickname="飞边定位" param="N/A,7,138,7,1" />
            <interface index="15" name="CircleOtherDetectAlgo" nickname="飞边检测" param="&lt;$60,7,8.50,20,1.50,20,1,50" />
            <interface index="16" name="CrownCapCircleRegionLocationAlgo" nickname="椭圆度检测定位" param="N/A,8,151,38,1" />
            <interface index="17" name="CircleRateDetectAlgo" nickname="椭圆度检测" param="&gt;$95,8,62,110" />
            <interface index="18" name="CrownCapCircleRegionLocationAlgo" nickname="裙边检测定位" param="N/A,9,152,28,1" />
            <interface index="19" name="CrownCapDetectAlgo" nickname="裙边检测" param="&lt;$2.50,9,156,25,1600" />
        </model>
        <model index="3" name="瓶盖外面检测模板_CH2" product_id="1">
            <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="瓶盖外面检测模板_CH2" />
            <interface index="1" name="CrownCapLocationCH2Algo" nickname="中心定位" param="N/A,0,0.80,190,0,0" />
            <interface index="2" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,1,136,-150,1" />
            <interface index="3" name="CrownCapMatchingParaAlgo" nickname="计算匹配参数" param="&gt;$0.30,1,0.9,2" />
            <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,136,-150,2" />
            <interface index="5" name="CrownCapCenterImageDetectAlgo" nickname="瓶盖图案检测" param="&lt;=$120.00,2,1.50,28,35,1.50,22,2" />
            <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="盖面边缘" param="N/A,3,140,10,2" />
            <interface index="7" name="CircleOtherDetectAlgo" nickname="边缘区域检测" param="&lt;=$60,3,3.50,25,1.50,2200,1,50" />
            <interface index="8" name="CrownCapPositionDistAlgo" nickname="图案偏心检测" param="&lt;=$2.00,3,159" />
        </model>
    </TaskModel>
    <PanelSetting>
        <channel index="1" max_speed="-1">
            <Camera>
                <Name>CH1 (21339928)</Name>
                <TriggerMode>N</TriggerMode>
                <FrameRate>20</FrameRate>
                <TriggerActivation>FALL</TriggerActivation>
                <Gain>3</Gain>
                <DelayAbs>31300</DelayAbs>
            </Camera>
            <Light>
            </Light>
            <Rejector>
                <EncoderID>1</EncoderID>
                <RejectorPort>0</RejectorPort>
                <RedLightPort>8</RedLightPort>
                <GreenLightPort>16</GreenLightPort>
                <Mode>D</Mode>
                <Delay>343</Delay>
                <SignalWidth>24</SignalWidth>
                <TestFlag>N</TestFlag>
                <TestMode>0</TestMode>
                <RejectCount>-1</RejectCount>
                <RejectInterval>-1</RejectInterval>
            </Rejector>
            <TaskGroup crt_task_name="特制精品盖_CH1">
                <task name="TestOCR_CH1" product_id="1" image_inside="true">
                    <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="TestOCR_CH1" />
                    <interface index="1" name="CrownCapLocationUseEdgeAlgo" param="N/A,0,3,8,180,150" nickname="中心定位" />
                    <interface index="2" name="CrownCapCircleRegionLocationAlgo" param="N/A,1,130,-160,1" nickname="中心区域提取" />
                    <interface index="3" name="CrownCapMatchingParaAlgo" param="&gt;$0.30,1,0.90,1" nickname="计算匹配参数" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" param="N/A,2,99,-150,1" nickname="中心区域提取" />
                    <interface index="5" name="CrownCapCenterImageDetectAlgo" param="&lt;=$2.00,2,0.50,22,29,1.50,2,1" nickname="中心图案检测" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" param="N/A,3,105,6,1" nickname="内环定位" />
                    <interface index="7" name="CircleOtherDetectAlgo" param="&lt;$46,3,3.50,10,1.50,12,1,50" nickname="内环检测" />
                    <interface index="8" name="CrownCapCircleRegionLocationAlgo" param="N/A,4,112,7,1" nickname="中环定位" />
                    <interface index="9" name="CircleOtherDetectAlgo" param="&lt;$60,4,3.50,12,1.50,12,1,50" nickname="中环检测" />
                    <interface index="10" name="CrownCapCircleRegionLocationAlgo" param="N/A,5,120,10,1" nickname="外环定位_黑点" />
                    <interface index="11" name="CircleDetectAlgo" param="&lt;$60,5,5,1.50,84,6" nickname="外环黑点检测" />
                    <interface index="12" name="CrownCapCircleRegionLocationAlgo" param="N/A,6,114,18,1" nickname="外环定位_气泡" />
                    <interface index="13" name="CircleOtherDetectAlgo" param="&lt;$60,6,5.50,15,2.50,15,1,50" nickname="外环气泡断胶检测" />
                    <interface index="14" name="CrownCapCircleRegionLocationAlgo" param="N/A,7,138,7,1" nickname="飞边定位" />
                    <interface index="15" name="CircleOtherDetectAlgo" param="&lt;$60,7,8.50,20,1.50,20,1,50" nickname="飞边检测" />
                    <interface index="16" name="CrownCapCircleRegionLocationAlgo" param="N/A,8,151,38,1" nickname="椭圆度检测定位" />
                    <interface index="17" name="CircleRateDetectAlgo" param="&gt;$95,8,62,110" nickname="椭圆度检测" />
                    <interface index="18" name="CrownCapCircleRegionLocationAlgo" param="N/A,9,152,28,1" nickname="裙边检测定位" />
                    <interface index="19" name="CrownCapDetectAlgo" param="&lt;$2.50,9,156,25,1600" nickname="裙边检测" />
                </task>
                <task name="特制精品盖_CH1" model_name="内无图任务模板_CH1" product_id="1">
                    <interface index="0" name="CrownCapLocationUseEdgeAlgo" nickname="中心定位" param="N/A,0,3,8,170,98" />
                    <interface index="1" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,97,-100,1" />
                    <interface index="2" name="CircleDetectAlgo" nickname="中心区域检测1" param="&lt;$18,2,7,2.50,55,6" />
                    <interface index="3" name="CircleOtherDetectAlgo" nickname="中心区域检测2" param="&lt;$120,2,15.50,20,3.00,50,1,10" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="内环定位" param="N/A,3,105,6,1" />
                    <interface index="5" name="CircleOtherDetectAlgo" nickname="内环检测" param="&lt;$46,3,3.50,10,1.50,12,1,50" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="中环定位" param="N/A,4,112,7,1" />
                    <interface index="7" name="CircleOtherDetectAlgo" nickname="中环检测" param="&lt;$60,4,3.50,12,1.50,12,1,50" />
                    <interface index="8" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_黑点" param="N/A,5,120,10,1" />
                    <interface index="9" name="CircleDetectAlgo" nickname="外环黑点检测" param="&lt;$60,5,5,1.50,84,6" />
                    <interface index="10" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_气泡" param="N/A,6,114,18,1" />
                    <interface index="11" name="CircleOtherDetectAlgo" nickname="外环气泡断胶检测" param="&lt;$60,6,5.50,15,2.50,15,1,50" />
                    <interface index="12" name="CrownCapCircleRegionLocationAlgo" nickname="飞边定位" param="N/A,7,138,7,1" />
                    <interface index="13" name="CircleOtherDetectAlgo" nickname="飞边检测" param="&lt;$60,7,8.50,20,1.50,20,1,50" />
                    <interface index="14" name="CrownCapCircleRegionLocationAlgo" nickname="椭圆度检测定位" param="N/A,8,151,38,1" />
                    <interface index="15" name="CircleRateDetectAlgo" nickname="椭圆度检测" param="&gt;$95,8,62,110" />
                    <interface index="16" name="CrownCapCircleRegionLocationAlgo" nickname="裙边检测定位" param="N/A,9,152,28,1" />
                    <interface index="17" name="CrownCapDetectAlgo" nickname="裙边检测" param="&lt;$2.50,9,156,25,1600" />
                </task>
                <task name="红五星盖_CH1" model_name="内无图任务模板_CH1" product_id="1">
                    <interface index="0" name="CrownCapLocationUseEdgeAlgo" nickname="中心定位" param="N/A,0,3,8,170,98" />
                    <interface index="1" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,97,-100,1" />
                    <interface index="2" name="CircleDetectAlgo" nickname="中心区域检测1" param="&lt;$18,2,7,2.50,55,6" />
                    <interface index="3" name="CircleOtherDetectAlgo" nickname="中心区域检测2" param="&lt;$120,2,15.50,20,3.00,50,1,50" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="内环定位" param="N/A,3,105,6,1" />
                    <interface index="5" name="CircleOtherDetectAlgo" nickname="内环检测" param="&lt;$46,3,3.50,10,1.50,12,1,50" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="中环定位" param="N/A,4,112,7,1" />
                    <interface index="7" name="CircleOtherDetectAlgo" nickname="中环检测" param="&lt;$60,4,3.50,12,1.50,12,1,50" />
                    <interface index="8" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_黑点" param="N/A,5,120,10,1" />
                    <interface index="9" name="CircleDetectAlgo" nickname="外环黑点检测" param="&lt;$60,5,5,1.50,84,6" />
                    <interface index="10" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_气泡" param="N/A,6,114,18,1" />
                    <interface index="11" name="CircleOtherDetectAlgo" nickname="外环气泡断胶检测" param="&lt;$60,6,5.50,15,2.50,15,1,50" />
                    <interface index="12" name="CrownCapCircleRegionLocationAlgo" nickname="飞边定位" param="N/A,7,138,7,1" />
                    <interface index="13" name="CircleOtherDetectAlgo" nickname="飞边检测" param="&lt;$60,7,8.50,20,1.50,20,1,50" />
                    <interface index="14" name="CrownCapCircleRegionLocationAlgo" nickname="椭圆度检测定位" param="N/A,8,151,38,1" />
                    <interface index="15" name="CircleRateDetectAlgo" nickname="椭圆度检测" param="&gt;$95,8,62,110" />
                    <interface index="16" name="CrownCapCircleRegionLocationAlgo" nickname="裙边检测定位" param="N/A,9,152,28,1" />
                    <interface index="17" name="CrownCapDetectAlgo" nickname="裙边检测" param="&lt;$2.50,9,156,25,1600" />
                </task>
                <task name="崂山啤酒_CH1" model_name="内有图任务模板_CH1" product_id="1">
                    <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="崂山啤酒_CH1" />
                    <interface index="1" name="CrownCapLocationUseEdgeAlgo" nickname="中心定位" param="N/A,0,3,8,180,150" />
                    <interface index="2" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,1,130,-160,1" />
                    <interface index="3" name="CrownCapMatchingParaAlgo" nickname="计算匹配参数" param="&gt;$0.30,1,0.90,1" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,99,-150,1" />
                    <interface index="5" name="CrownCapCenterImageDetectAlgo" nickname="中心图案检测" param="&lt;=$20.50,2,3.00,30,45,2.50,2,1" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="内环定位" param="N/A,3,105,6,1" />
                    <interface index="7" name="CircleOtherDetectAlgo" nickname="内环检测" param="&lt;$46,3,3.50,10,1.50,12,1,50" />
                    <interface index="8" name="CrownCapCircleRegionLocationAlgo" nickname="中环定位" param="N/A,4,112,7,1" />
                    <interface index="9" name="CircleOtherDetectAlgo" nickname="中环检测" param="&lt;$60,4,3.50,12,1.50,12,1,50" />
                    <interface index="10" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_黑点" param="N/A,5,120,10,1" />
                    <interface index="11" name="CircleDetectAlgo" nickname="外环黑点检测" param="&lt;$60,5,5,1.50,84,6" />
                    <interface index="12" name="CrownCapCircleRegionLocationAlgo" nickname="外环定位_气泡" param="N/A,6,114,18,1" />
                    <interface index="13" name="CircleOtherDetectAlgo" nickname="外环气泡断胶检测" param="&lt;$60,6,5.50,15,2.50,15,1,50" />
                    <interface index="14" name="CrownCapCircleRegionLocationAlgo" nickname="飞边定位" param="N/A,7,138,7,1" />
                    <interface index="15" name="CircleOtherDetectAlgo" nickname="飞边检测" param="&lt;$60,7,8.50,20,1.50,20,1,50" />
                    <interface index="16" name="CrownCapCircleRegionLocationAlgo" nickname="椭圆度检测定位" param="N/A,8,151,38,1" />
                    <interface index="17" name="CircleRateDetectAlgo" nickname="椭圆度检测" param="&gt;$95,8,62,110" />
                    <interface index="18" name="CrownCapCircleRegionLocationAlgo" nickname="裙边检测定位" param="N/A,9,152,28,1" />
                    <interface index="19" name="CrownCapDetectAlgo" nickname="裙边检测" param="&lt;$2.50,9,156,25,1600" />
                </task>
                <task name="自学习_CH1" product_id="1" self_learning="true" sample_count="100">
                    <interface index="0" name="LoadInitFile" init_flag="true" param="TestOCR/SelfLearning_CH1" />
                </task>
            </TaskGroup>
            <DispConfig>
                <Width>659</Width>
                <Height>494</Height>
            </DispConfig>
            <SPC_Chart>
                <X_UNIT>X1000</X_UNIT>
                <X_LEN>20</X_LEN>
                <Y_UNIT>‰</Y_UNIT>
            </SPC_Chart>
        </channel>
        <channel index="2" max_speed="-1">
            <Camera>
                <Name>CH2 (21200742)</Name>
                <TriggerMode>N</TriggerMode>
                <FrameRate>20</FrameRate>
                <TriggerActivation>FALL</TriggerActivation>
                <Gain>350</Gain>
                <DelayAbs>31300</DelayAbs>
            </Camera>
            <Light>
            </Light>
            <Rejector>
                <EncoderID>2</EncoderID>
                <RejectorPort>1</RejectorPort>
                <RedLightPort>9</RedLightPort>
                <GreenLightPort>17</GreenLightPort>
                <Mode>D</Mode>
                <Delay>343</Delay>
                <SignalWidth>24</SignalWidth>
                <TestFlag>N</TestFlag>
                <TestMode>0</TestMode>
                <RejectCount>-1</RejectCount>
                <RejectInterval>-1</RejectInterval>
            </Rejector>
            <TaskGroup crt_task_name="TestOCR_CH2">
                <task name="TestOCR_CH2" product_id="1">
                    <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="TestOCR_CH2" />
                    <interface index="1" name="CrownCapLocationCH2Algo" param="N/A,0,0.80,190,0,0" nickname="中心定位" />
                    <interface index="2" name="CrownCapCircleRegionLocationAlgo" param="N/A,1,136,-150,1" nickname="中心区域提取" />
                    <interface index="3" name="CrownCapMatchingParaAlgo" param="&gt;$0.30,1,0.9,2" nickname="计算匹配参数" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" param="N/A,2,136,-150,2" nickname="中心区域提取" />
                    <interface index="5" name="CrownCapCenterImageDetectAlgo" param="&lt;=$1.00,2,1.50,12,20,0.50,2,2" nickname="瓶盖图案检测" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" param="N/A,3,140,10,2" nickname="盖面边缘" />
                    <interface index="7" name="CircleOtherDetectAlgo" param="&lt;=$60,3,3.50,25,1.50,2200,1,50" nickname="边缘区域检测" />
                    <interface index="8" name="CrownCapPositionDistAlgo" param="&lt;=$13.50,3,159" nickname="图案偏心检测" />
                </task>
                <task name="燕京啤酒盖_CH2" model_name="瓶盖外面检测模板_CH2" product_id="1">
                    <interface index="0" name="LoadSelfLearningResult" init_flag="true" param="燕京啤酒盖_CH2" />
                    <interface index="1" name="CrownCapLocationCH2Algo" nickname="中心定位" param="N/A,0,0.80,190,0,0" />
                    <interface index="2" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,1,136,-150,1" />
                    <interface index="3" name="CrownCapMatchingParaAlgo" nickname="计算匹配参数" param="&gt;$0.30,1,0.80,2" />
                    <interface index="4" name="CrownCapCircleRegionLocationAlgo" nickname="中心区域提取" param="N/A,2,136,-150,2" />
                    <interface index="5" name="CrownCapCenterImageDetectAlgo" nickname="瓶盖图案检测" param="&lt;=$120.00,2,1.50,28,35,1.50,22,2" />
                    <interface index="6" name="CrownCapCircleRegionLocationAlgo" nickname="盖面边缘" param="N/A,3,140,10,2" />
                    <interface index="7" name="CircleOtherDetectAlgo" nickname="边缘区域检测" param="&lt;=$60,3,3.50,25,1.50,2200,1,50" />
                    <interface index="8" name="CrownCapPositionDistAlgo" nickname="图案偏心检测" param="&lt;=$12.50,3,159" />
                </task>
                <task name="自学习_CH2" product_id="1" self_learning="true" sample_count="100">
                    <interface index="0" name="LoadInitFile" init_flag="true" param="TestOCR/SelfLearning_CH2" />
                </task>
            </TaskGroup>
            <DispConfig>
                <Width>659</Width>
                <Height>494</Height>
            </DispConfig>
            <SPC_Chart>
                <X_UNIT>X1000</X_UNIT>
                <X_LEN>20</X_LEN>
                <Y_UNIT>‰</Y_UNIT>
            </SPC_Chart>
        </channel>
    </PanelSetting>
</configuration>
