<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="2" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克视觉检测系统" />
    <add key="LOGON_DLG_TITLE" value="检测系统登录" />
    <add key="LANGUAGE" value="CHS" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="1" />
    <add key="BATCHNUMBER" value="" />
    <add key="IMAGE_HEAP_UP" value="10" />
  </BasicSetting>
  <ShiftSetting auto_reset="false">
    <shift name="白班" bgn_time="800" end_time="2000" />
    <shift name="晚班" bgn_time="2000" end_time="800" />
  </ShiftSetting>
  <TaskModel>
    <model name="基础盖检测" product_id="2">
      <interface index="0" name="CenterLocationAlgo1" nickname="中心定位" param="N/A,0,186,0.8" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="卷边区域" param="N/A,1,178,5.5" />
      <interface index="2" name="CurlOptimizeAlgo" nickname="卷边检测1" param="&lt;=$71,1,0.01,0.1,11,0,35,6" />
      <interface index="3" name="CurlDetectAlgo2" nickname="卷边检测2" param="&lt;=$102,1,300,40,15" />
      <interface index="4" name="CircleRegionLocationAlgo" nickname="注胶区域" param="N/A,2,172,6" />
      <interface index="5" name="EdgeAlgo" nickname="注胶检测" param="&lt;=$20,2,10,20" />
      <interface index="6" name="CurlNoCompoundAlgo" nickname="光盖检测" param="&lt;=$54.2,2" />
      <interface index="7" name="CircleRegionLocationAlgo" nickname="嵌环检测1ROI" param="N/A,5,165.5,6" />
      <interface index="8" name="GContoursinkAlgo" nickname="嵌环检测1" param="&lt;=$5,5,10,12,80,12" />
      <interface index="9" name="CircleRegionLocationAlgo" nickname="嵌环检测2ROI" param="N/A,6,156,14" />
      <interface index="10" name="GSurfaceAlgo" nickname="嵌环检测2" param="&lt;=$12,6,80,10,1000,250" />
      <interface index="11" name="CircleRegionLocationAlgo" nickname="面心检测" param="N/A,7,142,208" />
      <interface index="12" name="DynThresholdAlgo" nickname="动态灰度值" param="&lt;$12,7,7,25,10,7,35,10" />
      <interface index="13" name="GSurfaceAlgo" nickname="盖面垫模算法" param="&lt;=$12,7,80,20,999,250" />
      <interface index="14" name="EdgeAlgo" nickname="盖面边沿算法" param="&lt;=$10,7,19,10" />
    </model>
    <model name="成品盖盖面有图检测" product_id="2">
      <interface index="0" name="CenterLocationAlgo1" nickname="中心定位" param="N/A,0,201,0.80" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="卷边区域" param="N/A,1,204.00,4.00" />
      <interface index="2" name="CurlOptimizeAlgo" nickname="卷边检测" param="&lt;$20,1,8.00,9.00,11,-1,22.20,15" />
      <interface index="3" name="CircleRegionLocationAlgo" nickname="注胶区域" param="N/A,2,195.00,11.00" />
      <interface index="4" name="EdgeAlgo" nickname="注胶检测" param="&lt;=$12,2,65,25" />
      <interface index="5" name="CircleRegionLocationAlgo" nickname="嵌环区域" param="N/A,3,170.00,5.00" />
      <interface index="6" name="CurlDetectAlgo2" nickname="嵌环检测" param="&lt;$10,3,300,30.00,10" />
      <interface index="7" name="CircleRegionLocationAlgo" nickname="嵌环区域1" param="N/A,4,171.00,10.00" />
      <interface index="8" name="CurlDetectAlgo2" nickname="嵌环检测1" param="&lt;$20,4,300,30,10" />
      <interface index="9" name="CircleRegionLocationAlgo" nickname="嵌环区域2" param="N/A,5,162.00,7.00" />
      <interface index="10" name="CurlDetectAlgo2" nickname="嵌环检测2" param="&lt;$20,5,300,33.00,10" />
      <interface index="11" name="CircleRegionLocationAlgo" nickname="嵌环区域3" param="N/A,6,155.00,5.00" />
      <interface index="12" name="CurlDetectAlgo2" nickname="嵌环检测3" param="&lt;$20,6,300,30,10" />
      <interface index="13" name="CircleRegionLocationAlgo" nickname="模板区域" param="N/A,7,146.50,260.50" />
      <interface index="14" name="MatchingParaAlgo" nickname="模板匹配" param="&gt;=$0.50,7,0.90,2, , " />
      <interface index="15" name="DetectRegionLocationAlgo" nickname="盖面区域" param="N/A,8,2.00,2, , " />
      <interface index="16" name="DynThresholdAlgoBlack" nickname="黑缺陷检测" param="&lt;=$20,8,7,60,7" />
      <interface index="17" name="DynThresholdAlgoBlackNumber" nickname="黑缺陷数量检测" param="&lt;$20,8,7,45,6" />
      <interface index="18" name="DynThresholdAlgoWhite" nickname="白缺陷检测" param="&lt;$20,8,7,35,7" />
      <interface index="19" name="DynThresholdAlgoWhiteNumber" nickname="白缺陷数量检测" param="&lt;=$20,8,7,25,6" />
      <interface index="20" name="DetectRegionLocationAlgoOCR" nickname="图案区域" param="N/A,9,1.00,2, , " />
      <interface index="21" name="DynThresholdAlgoOCR" nickname="图案区域检测" param="&lt;=$2,9,50,10,60,10,1.50" />
      <interface index="22" name="DetectRegionLocationAlgo" nickname="拉环区域" param="N/A,10,1.00,1, , " />
      <interface index="23" name="DynThresholdAlgoBlack" nickname="拉环黑缺陷检测" param="&lt;$22,10,7,50,10" />
      <interface index="24" name="DynThresholdAlgoWhite" nickname="拉环白缺陷检测" param="&lt;$11,10,7,60,10" />
      <interface index="25" name="DynThresholdAlgoBlackNumber" nickname="拉环黑缺陷数量" param="&lt;=$2,10,7,50,3" />
      <interface index="26" name="DynThresholdAlgoWhiteNumber" nickname="拉环白缺陷数量" param="&lt;$1,10,7,60,3" />
      <interface index="27" name="DetectRegionLocationAlgo" nickname="铆钉区域" param="N/A,11,1.00,1, , " />
      <interface index="28" name="DynThresholdAlgoBlack" nickname="铆钉黑缺陷检测" param="&lt;$11,11,7,50,10" />
      <interface index="29" name="DynThresholdAlgoWhite" nickname="铆钉白缺陷检测" param="&lt;$22,11,7,60,10" />
    </model>
    <model name="成品盖盖面无图检测" product_id="2">
      <interface index="0" name="CenterLocationAlgo1" nickname="中心定位" param="N/A,0,201,0.80" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="卷边区域" param="N/A,1,204.00,4.00" />
      <interface index="2" name="GContoursinkAlgo" nickname="卷边检测1" param="&lt;=$15,1,30,20,80,20" />
      <interface index="3" name="CircleRegionLocationAlgo" nickname="注胶区域" param="N/A,3,180.00,6" />
      <interface index="4" name="EdgeAlgo" nickname="注胶检测" param="&lt;=$12,3,34,15" />
      <interface index="5" name="CurlNoCompoundAlgo" nickname="光盖检测" param="&lt;=$60,3" />
      <interface index="6" name="CircleRegionLocationAlgo" nickname="嵌环区域1" param="N/A,4,174.00,4" />
      <interface index="7" name="GContoursinkAlgo" nickname="嵌环检测1" param="&lt;=$12,4,25,12,80,20" />
      <interface index="8" name="CircleRegionLocationAlgo" nickname="嵌环区域2" param="N/A,5,160.50,6" />
      <interface index="9" name="GContoursinkAlgo" nickname="嵌环检测2" param="&lt;=$12,5,30,12,80,20" />
      <interface index="10" name="CircleRegionLocationAlgo" nickname="嵌环区域3" param="N/A,6,161.5,8.5" />
      <interface index="11" name="GContoursinkAlgo" nickname="嵌环检测3" param="&lt;=$12,6,30,15,80,20" />
      <interface index="12" name="CircleRegionLocationAlgo" nickname="模板区域" param="N/A,7,148,260.50" />
      <interface index="13" name="MatchingParaAlgo" nickname="模板匹配" param="&gt;=$0.5,7,0.50,1, , " />
      <interface index="14" name="DetectRegionLocationAlgo" nickname="盖面区域" param="N/A,8,4.5,1, , " />
      <interface index="15" name="DynThresholdAlgo" nickname="动态灰度值" param="&lt;=$12,8,7,60,7,7,41,7" />
      <interface index="16" name="EdgeAlgo" nickname="盖面边沿检测" param="&lt;=$12,8,80,30" />
      <interface index="17" name="DetectRegionLocationAlgo" nickname="拉环区域" param="N/A,9,2.00,1, , " />
      <interface index="18" name="EdgeAlgo" nickname="拉环检测" param="&lt;=$20,9,51,25" />
      <interface index="19" name="DynThresholdAlgo" nickname="拉环检测1" param="&lt;=$12,9,7,60,7,7,41,7" />
      <interface index="20" name="DetectRegionLocationAlgo" nickname="铆钉区域" param="N/A,10,1.00,1, , " />
      <interface index="21" name="DynThresholdAlgo" nickname="铆钉检测" param="&lt;=$12,10,7,25,7,7,35,7" />
    </model>
    <model name="多模板印刷检测" product_id="2">
      <interface index="0" name="CenterLocationAlgo1" nickname="中心定位" param="N/A,0,192,0.85" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="区域1" param="N/A,2,185,208" />
      <interface index="2" name="MultOcrDetectAlgo" nickname="印刷检测1" param="&lt;$12,2,0.85, , , , ,50,10,60,10,1.5" />
      <interface index="3" name="CircleRegionLocationAlgo" nickname="区域2" param="N/A,3,185,208" />
      <interface index="4" name="MultOcrDetectAlgo1" nickname="印刷检测2" param="&lt;$11,3,0.85, , , , ,18,4,25,10,1.5" />
    </model>
    <model name="方盖检测" product_id="2">
      <interface index="0" name="CenterRectangleLocationAlgoHS" nickname="中心定位" param="N/A,0,80,80" />
      <interface index="1" name="BoundaryRegionLocationAlgo" nickname="卷边区域" param="N/A,3,-1.000,40.000" />
      <interface index="2" name="DynThresholdAlgoBlack" nickname="卷边检测" param="&lt;$11,3,7,50,10" />
      <interface index="3" name="BoundaryRegionLocationAlgo" nickname="嵌环区域" param="N/A,9,-45.000,20.000" />
      <interface index="4" name="CurlOptimizeAlgo" nickname="嵌环检测" param="&lt;$11,9,2.000,10.000,11,0,19.900,2" />
      <interface index="5" name="CircleRegionLocationAlgo" nickname="角度区域" param="N/A,1,165.000,200.000" />
      <interface index="6" name="RectangleAngleDetectAlgo" nickname="角度" param="&gt;=$0.00,1" />
      <interface index="7" name="DetectRegionLocationAlgo" nickname="校正辅助区域" param="N/A,2,1.000,0, , " />
      <interface index="8" name="CalibrationImageAlgo" nickname="校正图片" param="&gt;=$50,2,15,30,10" />
      <interface index="9" name="CircleRegionLocationAlgo" nickname="匹配区域" param="N/A,5,35.000,208.000" />
      <interface index="10" name="MatchingParaAlgo" nickname="匹配计算" param="&gt;=$0.50,5,0.850,1, , " />
      <interface index="11" name="DetectRegionLocationAlgo" nickname="拉环" param="N/A,4,2.500,1, , " />
      <interface index="12" name="EdgeAlgo" nickname="拉环黑点" param="&lt;=$20,4,30,10" />
      <interface index="13" name="DetectRegionLocationAlgo" nickname="铆钉区域" param="N/A,6,1.000,1, , " />
      <interface index="14" name="DynThresholdAlgo" nickname="铆钉检测" param="&lt;=$10,6,7,60,10,7,60,10" />
      <interface index="15" name="DetectRegionLocationAlgo" nickname="盖面区域" param="N/A,7,1.000,1, , " />
      <interface index="16" name="EdgeAlgo" nickname="盖面检测" param="&lt;=$20,7,30,10" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="2" max_speed="334">
      <Camera>
        <Name>CH1 (22869205)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>10</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light id="0,1" tag="环光90°$环光75°$碗光红$碗光绿,碗光蓝$同轴红$同轴绿$同轴蓝">
        <ParameterGroup name="基础盖200反面双圈">
          <controller id="0" mode="1" value="134$0$1;139$0$1;66$0$1;63$0$1" />
          <controller id="1" mode="1" value="62$0$1;74$0$1;72$0$1;73$0$1" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>8</GreenLightPort>
        <Mode>192.168.200.160</Mode>
        <Delay>195</Delay>
        <SignalWidth>25</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <CDC>30</CDC>
        <DeviceIP>192.168.200.160</DeviceIP>
        <DropDetectPort>0</DropDetectPort>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>3182304</ReSiToSol>
        <ReRejectFunc>Y</ReRejectFunc>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CDC_SA>0</CDC_SA>
        <LastN>20000</LastN>
        <LastNRatioUCL>100</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <CameraGrabTime>11</CameraGrabTime>
        <TriggerIngoreTime>12</TriggerIngoreTime>
      </Rejector>
      <TaskGroup crt_task_name="基础盖200反面双圈">
        <task name="基础盖200反面双圈" model_name="等等" product_id="2" blowthreshold="58">
          <interface index="0" enable="true" name="CenterLocationAlgoUsePointFitting" param="N/A,0,0,-4,300.000,178.500,65,1,1,1,1.000,40.000" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,130.000,15.000" nickname="卷边区域" />
          <interface index="2" enable="false" name="AngleRegistrationAlgo1" param="&lt;$752.00,1,16.00,15.00" nickname="ddd" />
          <interface index="3" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$14,1,7.000,108,18" nickname="凹坑1" />
          <interface index="4" enable="true" name="AngleRegistrationAlgo" param="&lt;$685.00,1,16,15.00" nickname="dev" />
          <interface index="5" enable="false" name="CurlOptimizeAlgo" param="&lt;=$18,1,9.000,18.000,11,0,22.000,10" nickname="卷边缺陷" />
          <interface index="6" enable="true" name="DetectRegionLocationAlgo" param="N/A,7,1.000,1,C:\SMVS_MCS\trunk\x64\Debug\data\CH1\基础盖200反面双圈\20190710110804.reg, " nickname="dwww" />
          <interface index="7" enable="false" name="CircleRegionLocationAlgo" param="N/A,2,209.500,14.000" nickname="注胶区域" />
          <interface index="8" enable="false" name="CurlNoCompoundAlgo" param="&lt;=$98,2" nickname="无胶检测" />
          <interface index="9" enable="false" name="EdgeAlgo" param="&lt;$11,2,30,10" nickname="断胶检测" />
          <interface index="10" enable="false" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$10,2,3.500,17.500,10,14.500,8" nickname="断胶2" />
          <interface index="11" enable="false" name="CircleRegionLocationAlgo" param="N/A,3,190.000,13.000" nickname="嵌环区域" />
          <interface index="12" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$16,3,3.500,43,10" nickname="凹坑2" />
          <interface index="13" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$20,3,1.000,1.000,-1,680,11,200,10" nickname="嵌环黑点" />
          <interface index="14" enable="false" name="CircleRegionLocationAlgo" param="N/A,4,170.000,15.500" nickname="嵌环区域1" />
          <interface index="15" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,4,3.500,45,15" nickname="奥坑" />
          <interface index="16" enable="false" name="CircleRegionLocationAlgo" param="N/A,8,158.500,11.000" nickname="嵌环区域2" />
          <interface index="17" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$40,8,5.000,40,10" nickname="黑白点1" />
          <interface index="18" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$20,8,1.000,1.000,-1,350,10,200,10" nickname="黑白点2" />
          <interface index="19" enable="false" name="CircleRegionLocationAlgo" param="N/A,6,153.500,15.000" nickname="外圆区域" />
          <interface index="20" enable="false" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$18,6,5.500,16.000,10,30.500,10" nickname="黑缺陷" />
          <interface index="21" enable="false" name="CircleRegionLocationAlgo" param="N/A,10,134.000,26.000" nickname="加强筋区域" />
          <interface index="22" enable="false" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$1517,10,5.000,15.000,10,33.000,17" nickname="黑白点3" />
          <interface index="23" enable="false" name="CircleRegionLocationAlgo" param="N/A,5,121.500,208.500" nickname="盘面区域" />
          <interface index="24" enable="false" name="GLineAlgo" param="&lt;=$14,5,0.700,7.000,12,1.300,5.500,10" nickname="划伤1" />
          <interface index="25" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$19,5,1.100,1.000,-1,350,13,300,20" nickname="盖面黑白缺陷" />
          <interface index="26" enable="false" name="EdgeAlgo" param="&lt;=$15,5,120,14" nickname="盖面边沿检测" />
          <interface index="27" enable="false" name="DynThresholdAlgo" param="&lt;=$20,5,9,8,11,52,47,10" nickname="脏污" />
          <interface index="28" enable="false" name="GSurfaceAlgo" param="&lt;=$30,5,114,24,200,200" nickname="盖面压伤2" />
        </task>
        <task name="SelfLearn_CH1" product_id="2" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
    <channel index="2" product_id="2" max_speed="334">
      <Camera>
        <Name>CH2 (22887536)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light id="2,3" tag="环光蓝$碗光红$碗光绿$碗光蓝,同轴红$同轴绿$同轴红$">
        <ParameterGroup name="基础盖200正面双圈">
          <controller id="2" mode="1" value="139$0$1;70$0$1;67$0$1;67$0$1" />
          <controller id="3" mode="1" value="81$0$1;82$0$1;82$0$1;42$0$1" />
        </ParameterGroup>
        <ParameterGroup name="基础盖200正面双圈带字">
          <controller id="2" mode="1" value="139$0$1;70$0$1;67$0$1;67$0$1" />
          <controller id="3" mode="1" value="81$0$1;82$0$1;82$0$1;42$0$1" />
        </ParameterGroup>
        <ParameterGroup name="基础盖200正面双圈粗检">
          <controller id="2" mode="1" value="139$0$1;70$0$1;67$0$1;67$0$1" />
          <controller id="3" mode="1" value="81$0$1;82$0$1;82$0$1;42$0$1" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>8</GreenLightPort>
        <Mode>192.168.200.161</Mode>
        <Delay>140</Delay>
        <SignalWidth>30</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <CDC>30</CDC>
        <DeviceIP>192.168.200.161</DeviceIP>
        <DropDetectPort>0</DropDetectPort>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>1347248</ReSiToSol>
        <ReRejectFunc>Y</ReRejectFunc>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CDC_SA>0</CDC_SA>
        <LastN>20000</LastN>
        <LastNRatioUCL>100</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <CameraGrabTime>11</CameraGrabTime>
        <TriggerIngoreTime>13</TriggerIngoreTime>
      </Rejector>
      <TaskGroup crt_task_name="基础盖200正面双圈带字">
        <task name="基础盖200正面双圈带字" model_name="等等" product_id="2" blowthreshold="77">
          <interface index="0" enable="false" name="CenterLocationAlgoUsePointFitting" param="N/A,0,-8,-13,260.000,180.000,70,1,1,1,1.000,20.000" nickname="中心定位" />
          <interface index="1" enable="true" name="CenterLocationAlgoHS" param="N/A,10,206,79,70" nickname="中心定位1" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$200,10,3.50,100,10" nickname="定位" />
          <interface index="3" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,205.000,5.000" nickname="卷边区域" />
          <interface index="4" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,1,3.500,64,10" nickname="奥坑1" />
          <interface index="5" enable="true" name="CircleRegionLocationAlgo" param="N/A,7,201.000,17.000" nickname="卷边区域1" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$26,7,3.500,20,10" nickname="凹坑1" />
          <interface index="7" enable="false" name="CircleRegionLocationAlgo" param="N/A,2,187.000,12.000" nickname="嵌环区域0" />
          <interface index="8" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$16,2,5.000,24,10" nickname="黑白点" />
          <interface index="9" enable="false" name="CircleRegionLocationAlgo" param="N/A,3,175.000,11.000" nickname="嵌环区域" />
          <interface index="10" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,3,4.500,36,10" nickname="凹坑" />
          <interface index="11" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$20,3,1.100,1.000,-1,500,10,200,10" nickname="嵌环黑白点" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,165.000,14.500" nickname="嵌环区域1" />
          <interface index="13" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$26,4,1.300,1.000,-1,137,16,200,10" nickname="黑缺陷1" />
          <interface index="14" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,4,8.500,28,14" nickname="奥坑" />
          <interface index="15" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,153.500,16.500" nickname="嵌环区域3" />
          <interface index="16" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$36,8,10.500,15.000,14,25.500,14" nickname="黑白点1" />
          <interface index="17" enable="false" name="CircleRegionLocationAlgo" param="N/A,9,135.500,13.000" nickname="外圆区域" />
          <interface index="18" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,9,3.500,19,10" nickname="外圆缺陷" />
          <interface index="19" enable="false" name="GContoursinkAlgo" param="&lt;=$10,9,35,5,35,5" nickname="外圆区域压伤" />
          <interface index="20" enable="false" name="GLineAlgo" param="&lt;=$21,9,1.400,7.500,11,1.200,8.000,11" nickname="划伤" />
          <interface index="21" enable="false" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$20,9,14.500,24.000,14,23.000,13" nickname="黑白缺陷" />
          <interface index="22" enable="false" name="CircleRegionLocationAlgo" param="N/A,6,130.000,9.500" nickname="加强筋区域" />
          <interface index="23" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$20,6,1.000,1.000,-1,600,10,200,10" nickname="黑缺陷2" />
          <interface index="24" enable="false" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$18,6,7.500,16.000,10,31.000,10" nickname="黑缺陷" />
          <interface index="25" enable="true" name="CircleRegionLocationAlgo" param="N/A,11,125.000,4.000" nickname="印字" />
          <interface index="26" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,11,3.500,20,10" nickname="字检测" />
          <interface index="27" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,132.500,208.000" nickname="匹配模板" />
          <interface index="28" enable="true" name="MatchingParaAlgo" param="&lt;=$10.00,12,0.850,1,C:\Program Files\SMVS\data\CH2\基础盖200正面双圈带字\图案\图案.shm, " nickname="匹配算子" />
          <interface index="29" enable="true" name="DetectRegionLocationAlgo" param="N/A,13,1.000,1,C:\Program Files\SMVS\data\CH2\基础盖200正面双圈带字\图案\20190514150608.reg, " nickname="盘内检测" />
          <interface index="30" enable="true" name="GLineAlgo" param="&lt;=$13,13,0.800,6.000,12,0.700,8.000,13" nickname="划伤检测" />
          <interface index="31" enable="true" name="EdgeAlgo" param="&lt;=$20,13,75,13" nickname="盖面压伤" />
          <interface index="32" enable="true" name="DynThresholdAlgo" param="&lt;=$20,13,7,60,10,50,40,10" nickname="脏污检测" />
        </task>
        <task name="基础盖200正面双圈粗检" model_name="等等" product_id="2" blowthreshold="77">
          <interface index="0" enable="false" name="CenterLocationAlgoUsePointFitting" param="N/A,0,-8,-13,260.000,180.000,70,1,1,1,1.000,20.000" nickname="中心定位" />
          <interface index="1" enable="true" name="CenterLocationAlgoHS" param="N/A,10,206,79,70" nickname="中心定位1" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$200,10,3.50,100,10" nickname="定位" />
          <interface index="3" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,208.500,5.000" nickname="卷边区域" />
          <interface index="4" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,1,3.500,64,10" nickname="奥坑1" />
          <interface index="5" enable="true" name="CircleRegionLocationAlgo" param="N/A,7,201.000,17.000" nickname="卷边区域1" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2632,7,3.500,18,10" nickname="凹坑1" />
          <interface index="7" enable="true" name="CircleRegionLocationAlgo" param="N/A,2,187.000,12.000" nickname="嵌环区域0" />
          <interface index="8" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,2,3.50,60,10" nickname="黑白点" />
          <interface index="9" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,175.000,11.000" nickname="嵌环区域" />
          <interface index="10" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,3,4.500,36,10" nickname="凹坑" />
          <interface index="11" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,3,1.200,1.000,-1,500,10,200,10" nickname="嵌环黑白点" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,165.000,14.500" nickname="嵌环区域1" />
          <interface index="13" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$24,4,1.100,1.000,-1,170,14,200,10" nickname="黑缺陷1" />
          <interface index="14" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,4,7.000,30,14" nickname="奥坑" />
          <interface index="15" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,153.500,16.500" nickname="嵌环区域3" />
          <interface index="16" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$36,8,8.000,15.000,14,25.500,14" nickname="黑白点1" />
          <interface index="17" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,135.000,13.000" nickname="外圆区域" />
          <interface index="18" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,9,3.500,50,14" nickname="外圆缺陷" />
          <interface index="19" enable="true" name="GContoursinkAlgo" param="&lt;=$10,9,35,5,35,5" nickname="外圆区域压伤" />
          <interface index="20" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$1220,9,14.500,25.000,14,28.500,15" nickname="黑白缺陷" />
          <interface index="21" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,130.000,9.500" nickname="加强筋区域" />
          <interface index="22" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,6,1.000,1.000,-1,600,10,200,10" nickname="黑缺陷2" />
          <interface index="23" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$22,6,4.000,22.000,14,42.000,14" nickname="黑缺陷" />
          <interface index="24" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,116.000,76.000" nickname="盘面区域" />
          <interface index="25" enable="true" name="GLineAlgo" param="&lt;=$20,5,1.000,7.000,14,1.100,7.000,13" nickname="划伤1" />
          <interface index="26" enable="true" name="EdgeAlgo" param="&lt;=$20,5,64,8" nickname="盖面压伤1" />
          <interface index="27" enable="true" name="DynThresholdAlgo" param="&lt;=$20,5,7,15,12,50,40,10" nickname="脏污" />
        </task>
        <task name="基础盖200正面双圈" model_name="等等" product_id="2" blowthreshold="77">
          <interface index="0" enable="false" name="CenterLocationAlgoUsePointFitting" param="N/A,0,-8,-13,260.000,180.000,70,1,1,1,1.000,20.000" nickname="中心定位" />
          <interface index="1" enable="true" name="CenterLocationAlgoHS" param="N/A,10,206,79,70" nickname="中心定位1" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$200,10,3.50,100,10" nickname="定位" />
          <interface index="3" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,208.500,5.000" nickname="卷边区域" />
          <interface index="4" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,1,3.500,64,10" nickname="奥坑1" />
          <interface index="5" enable="true" name="CircleRegionLocationAlgo" param="N/A,7,201.000,17.000" nickname="卷边区域1" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2632,7,3.500,18,10" nickname="凹坑1" />
          <interface index="7" enable="true" name="CircleRegionLocationAlgo" param="N/A,2,187.000,12.000" nickname="嵌环区域0" />
          <interface index="8" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,2,3.50,60,10" nickname="黑白点" />
          <interface index="9" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,175.000,11.000" nickname="嵌环区域" />
          <interface index="10" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,3,4.500,36,10" nickname="凹坑" />
          <interface index="11" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,3,1.200,1.000,-1,500,10,200,10" nickname="嵌环黑白点" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,165.000,14.500" nickname="嵌环区域1" />
          <interface index="13" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$24,4,1.100,1.000,-1,170,14,200,10" nickname="黑缺陷1" />
          <interface index="14" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,4,8.500,28,14" nickname="奥坑" />
          <interface index="15" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,153.500,16.500" nickname="嵌环区域3" />
          <interface index="16" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$36,8,8.000,15.000,14,25.500,14" nickname="黑白点1" />
          <interface index="17" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,135.000,13.000" nickname="外圆区域" />
          <interface index="18" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$20,9,3.500,34,14" nickname="外圆缺陷" />
          <interface index="19" enable="true" name="GContoursinkAlgo" param="&lt;=$10,9,35,5,35,5" nickname="外圆区域压伤" />
          <interface index="20" enable="true" name="GLineAlgo" param="&lt;=$21,9,1.400,7.500,11,1.200,8.000,11" nickname="划伤" />
          <interface index="21" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$1220,9,14.500,25.000,14,28.500,15" nickname="黑白缺陷" />
          <interface index="22" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,130.000,9.500" nickname="加强筋区域" />
          <interface index="23" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,6,1.000,1.000,-1,600,10,200,10" nickname="黑缺陷2" />
          <interface index="24" enable="true" name="AnnularRotaDynThresholdAlgoBW" param="&lt;=$22,6,4.000,22.000,14,42.000,14" nickname="黑缺陷" />
          <interface index="25" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,116.000,76.000" nickname="盘面区域" />
          <interface index="26" enable="true" name="GLineAlgo" param="&lt;=$20,5,1.000,7.000,14,1.100,7.000,13" nickname="划伤1" />
          <interface index="27" enable="true" name="EdgeAlgo" param="&lt;=$20,5,64,8" nickname="盖面压伤1" />
          <interface index="28" enable="true" name="DynThresholdAlgo" param="&lt;=$20,5,7,15,12,50,40,10" nickname="脏污" />
        </task>
        <task name="SelfLearn_CH1" product_id="2" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
    <channel index="3" product_id="2" max_speed="334">
      <Camera>
        <Name>CH3 (22861081)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>10</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>3</Gain>
        <DelayAbs>45</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>120</ExposureTime>
      </Camera>
      <Light id="4" tag=" $$$">
        <ParameterGroup name="基础盖200R角双圈">
          <controller id="4" mode="1" value="242$0$1;0$0$1;0$0$1;0$0$1" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>8</GreenLightPort>
        <Mode>192.168.200.162</Mode>
        <Delay>165</Delay>
        <SignalWidth>25</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <CDC>30</CDC>
        <DeviceIP>192.168.200.162</DeviceIP>
        <DropDetectPort>0</DropDetectPort>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>3182304</ReSiToSol>
        <ReRejectFunc>Y</ReRejectFunc>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CDC_SA>0</CDC_SA>
        <LastN>20000</LastN>
        <LastNRatioUCL>100</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <CameraGrabTime>11</CameraGrabTime>
        <TriggerIngoreTime>12</TriggerIngoreTime>
      </Rejector>
      <TaskGroup crt_task_name="基础盖200R角双圈">
        <task name="基础盖200R角双圈" model_name="基础盖检测" product_id="2" blowthreshold="20">
          <interface index="0" enable="false" name="CenterLocationAlgo1" param="N/A,0,430,0.750" nickname="中心定位" />
          <interface index="1" enable="false" name="CenterLocationAlgoHS" param="N/A,1,459,75,71" nickname="中心定位1" />
          <interface index="2" enable="false" name="CurlNoCompoundAlgo" param="&lt;=$255,1" nickname="空检测" />
          <interface index="3" enable="true" name="CenterLocationAlgoUsePointFitting" param="N/A,4,-10,-17,520.000,150.000,91,1,1,1,1.000,10.500" nickname="中心定位2" />
          <interface index="4" enable="true" name="CurlNoCompoundAlgo" param="&lt;=$255,4" nickname="光盖检测2" />
          <interface index="5" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,452.500,11.000" nickname="R角区域2" />
          <interface index="6" enable="true" name="CurlNoCompoundAlgo" param="&lt;=$130,5" nickname="r角检测1" />
          <interface index="7" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$150,5,2.000,14,10" nickname="r角检测2" />
          <interface index="8" enable="true" name="RRegionDetectAlgo" param="&lt;=$8,5,0.500,5,2,8" nickname="r角检测" />
        </task>
        <task name="SelfLearn_CH1" product_id="2" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
  </PanelSetting>
</configuration>
