<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="4" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="XXXX公司XX产品检测系统登录" />
    <add key="LANGUAGE" value="CHS" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="3" />
  </BasicSetting>
  <ShiftSetting>
    <shift name="早班" bgn_time="630" end_time="1230" />
    <shift name="中班" bgn_time="1300" end_time="1900" />
    <shift name="夜班" bgn_time="1930" end_time="130" />
  </ShiftSetting>
  <TaskModel>
    <model name="PET液位检测" product_id="4">
      <interface index="0" name="CapLocationAlgo" nickname="瓶盖定位" param="N/A,0,60,5000,32237" />
      <interface index="1" name="LevelLocationAlgo" nickname="液位区域定位" param="N/A,1,183,30,40" />
      <interface index="2" name="LevelDetectionAlgo" nickname="液位检测" param="&gt;$3,1,10,200,100" />
      <interface index="3" name="CapSkewOrHighLocationAlgo" nickname="高歪盖区域定位" param="N/A,2,130,40,50,10" />
      <interface index="4" name="CapSkewDetectionAlgo" nickname="歪盖检测" param="&lt;$5,2,5" />
      <interface index="5" name="CapHighDetectionAlgo" nickname="高盖检测" param="&lt;$5,2,5" />
      <interface index="6" name="BottleNeckLocationAlgo" nickname="拉环区域定位" param="N/A,3,40,30,5,70,26" />
      <interface index="7" name="SecurityRingDetectionAlgo" nickname="断环检测" param="&lt;$20,3,100,20" />
    </model>
    <model name="洞庭山标签检测_CH1" product_id="4">
      <interface index="0" name="LabelLocationAlgo" nickname="标签定位" param="N/A,0,160,9,50000" />
      <interface index="1" name="HighOrLowLabelLocationAlgo" nickname="高标低标区域定位" param="N/A,1,225" />
      <interface index="2" name="HighOrLowLabelDetectionAlgo" nickname="高标低标检测" param="&lt;$8,1" />
      <interface index="3" name="SlantLabelLocationAlgo" nickname="倾斜检测区域定位" param="N/A,2,48,24,180,50" />
      <interface index="4" name="SlantLabelDetectionAlgo" nickname="标签倾斜检测" param="&lt;$8,2" />
      <interface index="5" name="InverseLocationAlgo" nickname="颠倒检测区域定位" param="N/A,3,100,100" />
      <interface index="6" name="InverseDetectionAlgo" nickname="标签颠倒检测" param="&gt;$0.3,3,0.9" />
    </model>
    <model name="满箱检测" product_id="4">
      <interface index="0" name="TotalBottlesLocationAlgo" nickname="满箱定位" param="N/A,0" />
      <interface index="1" name="BottlesLocationAlgo" nickname="满箱区域定位" param="N/A,1" />
      <interface index="2" name="BottlesDetectionAlgo" nickname="瓶盖数量检测" param="=$6,1,69,1932" />
    </model>
    <model name="瓶口检测" product_id="4">
      <interface index="0" name="PetCenterLocationAlgo" nickname="中心定位" param="N/A,0,206,0.80" />
      <interface index="1" name="PetCircleRegionLocationAlgo" nickname="瓶口区域定位" param="N/A,1,200.00,20.00" />
      <interface index="2" name="PetCircleRegionDetectionAlgo" nickname="瓶口缺陷检测" param="&gt;$1,1,30,30" />
    </model>
    <model name="喷码检测" product_id="4">
      <interface index="0" name="CodeLocationAlgo" nickname="喷码定位" param="N/A,0,100,30,8,1000" />
      <interface index="1" name="CodingLocationAlgo" nickname="喷码区域定位" param="N/A,1,180,2,100,30,60" />
      <interface index="2" name="CodingDetectionAlgo" nickname="喷码缺陷检测" param="=$15,1" />
    </model>
    <model name="昆仑山矿泉水喷码检测" product_id="4">
      <interface index="0" name="CodeLocationAlgo" nickname="喷码定位" param="N/A,0" />
      <interface index="1" name="CodingLocationAlgo" nickname="喷码区域定位" param="N/A,1,300,300,300,300" />
      <interface index="2" name="CodingDetectionAlgo" nickname="=$21,1,87,2,900" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="4" max_speed="1843">
      <Camera>
        <Name>CH4 (21512226)</Name>
        <TriggerMode>N</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>3</Gain>
        <DelayAbs>0</DelayAbs>
      </Camera>
      <Light>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>8</RedLightPort>
        <GreenLightPort>16</GreenLightPort>
        <Mode>D</Mode>
        <Delay>343</Delay>
        <SignalWidth>24</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
      </Rejector>
      <TaskGroup crt_task_name="洞庭山液位检测_CH1">
        <task name="洞庭山液位检测_CH1" model_name="PET液位检测" product_id="4">
          <interface index="0" name="CapLocationAlgo" nickname="瓶盖定位" param="N/A,0,80,5000,32237" />
          <interface index="1" name="LevelLocationAlgo" nickname="液位区域定位" param="N/A,1,310,30,40" />
          <interface index="2" name="LevelDetectionAlgo" nickname="液位检测" param="&gt;$3,1,10,200,100" />
          <interface index="3" name="CapSkewOrHighLocationAlgo" nickname="高歪盖区域定位" param="N/A,2,165,40,50,10" />
          <interface index="4" name="CapSkewDetectionAlgo" nickname="歪盖检测" param="&lt;$5,2" />
          <interface index="5" name="CapHighDetectionAlgo" nickname="高盖检测" param="&lt;$5,2" />
          <interface index="6" name="BottleNeckLocationAlgo" nickname="拉环区域定位" param="N/A,3,66,60,7" />
          <interface index="7" name="SecurityRingDetectionAlgo" nickname="断环检测" param="&lt;$20,3,100,20" />
        </task>
        <task name="洞庭山标签检测_CH1" model_name="PET标签检测" product_id="4">
          <interface index="0" name="LabelLocationAlgo" nickname="标签定位" param="N/A,0,160,9,50000" />
          <interface index="1" name="HighOrLowLabelLocationAlgo" nickname="高标低标区域定位" param="N/A,1,300" />
          <interface index="2" name="HighOrLowLabelDetectionAlgo" nickname="高标低标检测" param="&lt;$8,1" />
          <interface index="3" name="SlantLabelLocationAlgo" nickname="倾斜检测区域定位" param="N/A,2,30,100,230,100" />
          <interface index="4" name="SlantLabelDetectionAlgo" nickname="标签倾斜检测" param="&lt;$8,2" />
          <interface index="5" name="InverseLocationAlgo" nickname="颠倒检测区域定位" param="N/A,3,200,300" />
          <interface index="6" name="InverseDetectionAlgo" nickname="标签颠倒检测" param="&gt;$0.3,3,0.9" />
        </task>
        <task name="自学习_CH1" product_id="4" self_learning="true" sample_count="150" />
        <task name="满箱检测" model_name="满箱检测" product_id="4">
          <interface index="0" name="TotalBottlesLocationAlgo" nickname="满箱定位" param="N/A,0" />
          <interface index="1" name="BottlesLocationAlgo" nickname="满箱区域定位" param="N/A,1" />
          <interface index="2" name="BottlesDetectionAlgo" nickname="瓶盖数量检测" param="=$6,1,69,1932" />
        </task>
        <task name="瓶口检测" model_name="瓶口检测" product_id="4">
          <interface index="0" name="PetCenterLocationAlgo" nickname="中心定位" param="N/A,0,206,0.80" />
          <interface index="1" name="PetCircleRegionLocationAlgo" nickname="瓶口区域定位" param="N/A,1,200.00,20.00" />
          <interface index="2" name="PetCircleRegionDetectionAlgo" nickname="瓶口缺陷检测" param="&lt;$10,1,30,30" />
        </task>
        <task name="喷码检测" model_name="喷码检测" product_id="4">
          <interface index="0" name="CodeLocationAlgo" nickname="喷码定位" param="N/A,0,100,30,8,1000" />
          <interface index="1" name="CodingLocationAlgo" nickname="喷码区域定位" param="N/A,1,180,2,100,30,60" />
          <interface index="2" name="CodingDetectionAlgo" nickname="喷码缺陷检测" param="=$15,1" />
        </task>
        <task name="昆仑山矿泉水喷码检测" model_name="昆仑山矿泉水喷码检测" product_id="4">
          <interface index="0" name="KunRunShanLocationAlgo" nickname="区域定位" param="N/A,0" />
          <interface index="1" name="PetMatchingLocationAlgo" nickname="喷码区域定位" param="N/A,1,300,100,600,1200" />
          <interface index="2" name="PetMatchingParaAlgo" nickname="区域匹配" param="&gt;$0.50,1,0.45,1,C:\SMVS\trunk\x64\Debug\data\1.shm,C:\Program Files\SMVS\data\昆仑山\1.shm"  />
          <interface index="3" name="KunRunShanRegionLocationAlgo" nickname="喷码区域定位" param="N/A,2,75,409,67,70" />
          <interface index="4" name="PetMatchingDetectionAlgo" nickname="喷码区域检测" param="=$21,2,27,2,90" />
        </task>
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
  </PanelSetting>
</configuration>