<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="5" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="药品盖产品检测系统登录" />
    <add key="TV_SCREEN_TITLE" value="Production Statistics" />
    <add key="LANGUAGE" value="CHS" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="8" />
  </BasicSetting>
  <ShiftSetting>
    <shift name="早班" bgn_time="630" end_time="1230" />
    <shift name="中班" bgn_time="1300" end_time="1900" />
    <shift name="夜班" bgn_time="1930" end_time="130" />
  </ShiftSetting>
  <TaskModel>
    <model name="下表面检测" product_id="5">
      <interface index="0" name="CenterLocationAlgo" nickname="中心定位" param="N/A,0,185,40" />
      <interface index="1" name="MsiCircleRegionLocationAlgo" nickname="环形区域1" param="N/A,1,172.00,50.00,1.50,1.00,2.00,0.05" />
      <interface index="2" name="MsiAnnularRotaDynThresholdAlgo" nickname="环形区域1检测" param="&lt;$5,1,3.00,22,5" />
      <interface index="3" name="CircleRegionLocationAlgo" nickname="环形区域2" param="N/A,2,126.50,30.00" />
      <interface index="4" name="AnnularRotaDynThresholdAlgo" nickname="环形区域2检测" param="&lt;$5,2,2.00,45,5" />
      <interface index="5" name="CircleRegionLocationAlgo" nickname="环形区域3" param="N/A,3,98.00,20.00" />
      <interface index="6" name="AnnularRotaDynThresholdAlgo" nickname="环形区域3检测" param="&lt;$5,3,3.00,20,5" />
      <interface index="7" name="CircleRegionLocationAlgo" nickname="环形区域4" param="N/A,4,77.50,25.00" />
      <interface index="8" name="AnnularRotaDynThresholdAlgo" nickname="环形区域4检测" param="&lt;$5,4,4.50,15,5" />
    </model>
    <model name="侧面检测" product_id="5">
      <interface index="0" name="MsiUpperSurfaceRegionExtractAlgo" nickname="中心区域定位" param="N/A,3,20,30,600,302,20,50" />
    </model>
    <model name="单接口顶部检测" product_id="5">
      <interface index="0" name="MsiVoidCenterLocationAlgo" nickname="中心定位" param="N/A,0" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="匹配计算" param="N/A,1,80.00,208.00" />
      <interface index="2" name="MatchingParaMinScoreAlgo" nickname="匹配计算" param="&gt;$0.50,1,0.50,3,0.70,1, , " />
      <interface index="3" name="DetectRegionLocationAlgo" nickname="区域1" param="N/A,2,1.00,1, , " />
      <interface index="4" name="BlackDetectAlgo" nickname="顶部检测1" param="&lt;$5,2,3,40,60,5" />
      <interface index="5" name="DetectRegionLocationAlgo" nickname="区域2" param="N/A,3,1.00,1, , " />
      <interface index="6" name="BlackDetectAlgo" nickname="顶部检测2" param="&lt;$5,3,3,40,60,5" />
      <interface index="7" name="DetectRegionLocationAlgo" nickname="区域3" param="N/A,4,1.00,1, , " />
      <interface index="8" name="DynThresholdAlgo" nickname="底部检测" param="&lt;$5,4,7,60,5,7,60,5" />
    </model>
    <model name="定位测试" product_id="5">
      <interface index="0" name="CenterLocationUseEdgesAlgo" nickname="中心" param="N/A,2,220,20,40,0.20" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="5" max_speed="-9999">
      <Camera>
        <Name>CH1 (22089589)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>500</Gain>
        <DelayAbs>0</DelayAbs>
      </Camera>
      <Light id="0" tag="Line1$Line2$Line3$Line4">
        <ParameterGroup name="下表面检测CH1">
          <controller id="0" mode="1" value="150$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
        <ParameterGroup name="定位测试" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>6</RedLightPort>
        <GreenLightPort>10</GreenLightPort>
        <Mode>D</Mode>
        <Delay>170</Delay>
        <SignalWidth>20</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>1</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="下表面检测CH1">
        <task name="下表面检测CH1" model_name="下表面检测" product_id="5">
          <interface index="0" name="CenterLocationAlgo1" param="N/A,0,211,0.55" nickname="中心定位" />
          <interface index="1" name="CircleRegionLocationAlgo" param="N/A,4,210.00,6.00" nickname="边缘" />
          <interface index="2" name="AnnularRotaDynThresholdAlgo" param="&lt;$5,4,3.00,35,20" nickname="边缘压伤" />
          <interface index="3" name="BlackDetectAlgo" param="&lt;$3,4,3,20,120,3" nickname="黑点检测" />
          <interface index="4" name="MsiCircleRegionLocationAlgo" param="N/A,1,201.00,60.00,1.50,1.00,2.00,0.05" nickname="环形区域1" />
          <interface index="5" name="MsiAnnularRotaDynThresholdAlgo" param="&lt;$5,1,3.00,30,10" nickname="底部检测" />
          <interface index="6" name="CircleRegionLocationAlgo" param="N/A,5,211.00,88.00" nickname="底部区域" />
          <interface index="7" name="BlackDetectAlgo" param="&lt;$3,5,9,40,100,3" nickname="底部极黑点检测" />
          <interface index="8" name="CircleRegionLocationAlgo" param="N/A,2,119.00,37.00" nickname="环形区域2" />
          <interface index="9" name="AnnularRotaDynThresholdAlgo" param="&lt;$3,2,3.00,20,3" nickname="内壁1检测" />
          <interface index="10" name="CircleRegionLocationAlgo" param="N/A,3,80.00,20.00" nickname="环形区域3" />
          <interface index="11" name="AnnularRotaDynThresholdAlgo" param="&lt;$2,3,3.00,20,3" nickname="内壁2检测" />
        </task>
        <task name="定位测试" model_name="定位测试" product_id="5">
          <interface index="0" name="CenterLocationUseEdgesAlgo" param="N/A,2,217,10,20,0.20" nickname="中心" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="2" product_id="5" max_speed="49">
      <Camera>
        <Name>CH2 (22089598)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>15</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>170000</DelayAbs>
      </Camera>
      <Light id="0" tag=" $ $ $ ">
        <ParameterGroup name="侧面1检测CH2">
          <controller id="0" mode="1" value="45$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>700</Delay>
        <SignalWidth>50</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
        <Interval>-1</Interval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="侧面1检测CH2">
        <task name="侧面1检测CH2" model_name="侧面检测" product_id="5">
          <interface index="0" name="MsiUpperSurfaceRegionExtractAlgo" param="N/A,3,20,30,600,300,10,25" nickname="中心区域定位" />
          <interface index="1" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,0,3.50,50,1,1,1" nickname="上表面区域1" />
          <interface index="2" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,0,3,40,70,8,10,100" nickname="尾部整体检测" />
          <interface index="3" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,1,5.00,112,18,28,1" nickname="上表面检测2" />
          <interface index="4" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,1,3,50,75,1,10,60" nickname="尾部加强筋黑点检测" />
          <interface index="5" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,13,3.50,98,50,40,100" nickname="尾部1加强筋1" />
          <interface index="6" name="LineDetectionAlgo" param="&lt;$3.00,13,1.20,6.50,8.00,-1,10" nickname="加强筋1线条检测" />
          <interface index="7" name="MsiUpperSurfaceTopRegionLocationAlgo" param="N/A,2,11.00,50,26,38" nickname="上表面区域3" />
          <interface index="8" name="DerivateGaussDetectAlgo" param="&lt;$5,2,1.00,1.00,-1,500,10,200,10" nickname="尾部上边沿黑点检测" />
          <interface index="9" name="BlackDetectAlgo" param="&lt;$3,2,9,23,80,10" nickname="上边沿黑点检测" />
          <interface index="10" name="MsiUpperSurfaceBottomRegionLocationAlgo" param="N/A,4,10,82,64,32,4.50" nickname="上表面区域4" />
          <interface index="11" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,4,3,50,64,10,20,100" nickname="尾部下边沿黑点检测" />
          <interface index="12" name="MsiUpperSurfaceSidesRegionLocationAlgo" param="N/A,5,3.50,24" nickname="上表面区域5" />
          <interface index="13" name="DerivateGaussDetectAlgo" param="&lt;$5,5,1.00,1.00,-1,500,10,200,10" nickname="尾部两翼黑点检测" />
          <interface index="14" name="MsiEndSidesRegionLocationAlgo" param="N/A,6,17,35,8.00" nickname="缺料检测" />
          <interface index="15" name="MsiGapDetectAlgo" param="&lt;$10,6,0,1,25,1.20,1.00,3.00,15.00" nickname="边缘缺料检测" />
          <interface index="16" name="LineDetectionAlgo" param="&lt;=$114.00,6,1.50,3.00,8.00,0,10" nickname="多边缺料检测" />
          <interface index="17" name="MsiBottomSidesRegionLocationAlgo" param="N/A,11,95,25,20,12,3,1" nickname="字符区域" />
          <interface index="18" name="MsiGapDetectAlgo" param="&lt;$10,11,1,0,20,1.60,0.50,2.00,15.00" nickname="字符区域多料检测" />
          <interface index="19" name="LineDetectionAlgo" param="&lt;$84.00,11,1.50,3.00,5.00,0,10" nickname="字符多料检测" />
          <interface index="20" name="CircleRegionLocationAlgo" param="N/A,7,120.00,208.00" nickname="侧壁" />
          <interface index="21" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,7,0.50,3,0.75,1,C:\Program Files\SMVS\data\CH2\侧面1检测CH2\侧壁模板\侧壁模板.shm, " nickname="匹配算法" />
          <interface index="22" name="MsiDetectRegionLocationAlgo" param="N/A,8,1.00,1,C:\Program Files\SMVS\data\CH2\侧面1检测CH2\侧壁模板\20170320150029.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁1" />
          <interface index="23" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,8,9,40,80,2,10,100" nickname="黑点检测1" />
          <interface index="24" name="EdgeAlgo" param="&lt;$10,8,25,10" nickname="毛发1检测" />
          <interface index="25" name="MsiDetectRegionLocationAlgo" param="N/A,9,1.00,1,C:\Program Files\SMVS\data\CH2\侧面1检测CH2\侧壁模板\20170320150106.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁2" />
          <interface index="26" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,9,9,25,75,2,10,100" nickname="侧壁2黑点" />
          <interface index="27" name="EdgeAlgo" param="&lt;$10,9,25,10" nickname="毛发2检测" />
          <interface index="28" name="MsiDetectRegionLocationAlgo" param="N/A,10,1.00,1,C:\Program Files\SMVS\data\CH2\侧面1检测CH2\侧壁模板\20170320150259.reg, ,1.50,0.50,3.00,60,1.00" nickname="侧壁3" />
          <interface index="29" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,10,9,20,40,2,10,100" nickname="侧壁3黑点" />
          <interface index="30" name="EdgeAlgo" param="&lt;$10,10,25,10" nickname="毛发3检测" />
          <interface index="31" name="DetectRegionLocationAlgo" param="N/A,12,1.00,1,C:\Program Files\SMVS\data\CH2\侧面1检测CH2\侧壁模板\20170319104340.reg, " nickname="底部区域" />
          <interface index="32" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,12,9,18,40,1,10,50" nickname="黑点检测" />
          <interface index="33" name="MsiWhiteReinforcedRegionLocationAlgo" param="N/A,15,189,70,168,5,7" nickname="尾部白色加强筋" />
          <interface index="34" name="MsiWhiteReinforcedBlackDetectAlgo" param="&lt;$5,15,45,24,11" nickname="尾部白色加强筋检测" />
          <interface index="35" name="MsiBlackReinforcedRegionLocationAlgo" param="N/A,14,190,80,157,1,17" nickname="黑色加强筋" />
          <interface index="36" name="MsiBlackReinforcedBlackDetectAlgo" param="&lt;$10,14,45,22,8" nickname="尾部黑色加强筋检测" />
          <interface index="37" name="MsiUpperSurfaceCenterRegionLocationAlgo1" param="N/A,17,3.50,192,20,21" nickname="中心" />
          <interface index="38" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,17,3,40,60,10,10,100" nickname="中心" />
          <interface index="39" name="MsiUpperSurfaceBottomRegionLocationAlgo1" param="N/A,18,3.90,191,160" nickname="下边沿" />
          <interface index="40" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,18,3,40,60,10,10,100" nickname="下边沿" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="3" product_id="5" max_speed="49">
      <Camera>
        <Name>CH3 (22089597)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>15</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>170000</DelayAbs>
      </Camera>
      <Light id="0" tag=" $ $ $ ">
        <ParameterGroup name="侧面2检测CH3">
          <controller id="0" mode="1" value="45$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>700</Delay>
        <SignalWidth>50</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>2</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
        <Interval>-1</Interval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="侧面2检测CH3">
        <task name="侧面2检测CH3" model_name="侧面检测" product_id="5">
          <interface index="0" name="MsiUpperSurfaceRegionExtractAlgo" param="N/A,3,20,30,600,326,10,22" nickname="中心区域定位" />
          <interface index="1" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,0,8.00,83,1,1,1" nickname="上表面区域1" />
          <interface index="2" name="BlackDetectExcludeEdgesAlgo" param="&lt;$2,0,9,55,70,8,10,100" nickname="尾部整体检测" />
          <interface index="3" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,1,3.50,114,15,19,1" nickname="上表面检测2" />
          <interface index="4" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,1,3,40,70,1,10,50" nickname="尾部加强筋黑点检测" />
          <interface index="5" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,13,1.00,145,25,36,32" nickname="加强筋1区域" />
          <interface index="6" name="LineDetectionAlgo" param="&lt;$5.00,13,1.50,7.50,8.00,-1,10" nickname="加强筋1线条检测" />
          <interface index="7" name="MsiUpperSurfaceTopRegionLocationAlgo" param="N/A,2,8.00,50,26,30" nickname="上表面区域3" />
          <interface index="8" name="DerivateGaussDetectAlgo" param="&lt;$5,2,1.00,1.00,-1,500,10,200,10" nickname="尾部上边沿黑点检测" />
          <interface index="9" name="BlackDetectAlgo" param="&lt;$5,2,9,23,70,10" nickname="上边沿黑点检测" />
          <interface index="10" name="MsiUpperSurfaceBottomRegionLocationAlgo" param="N/A,4,10,77,55,32,5.00" nickname="上表面区域4" />
          <interface index="11" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,4,3,50,64,10,20,100" nickname="尾部下边沿黑点检测" />
          <interface index="12" name="MsiUpperSurfaceSidesRegionLocationAlgo" param="N/A,5,5.50,25" nickname="上表面区域5" />
          <interface index="13" name="DerivateGaussDetectAlgo" param="&lt;$5,5,1.00,1.00,-1,500,10,200,10" nickname="尾部两翼黑点检测" />
          <interface index="14" name="MsiEndSidesRegionLocationAlgo" param="N/A,6,17,30,8.00" nickname="缺料检测" />
          <interface index="15" name="MsiGapDetectAlgo" param="&lt;$10,6,0,1,20,1.00,0.50,2.00,15.00" nickname="边缘缺料检测" />
          <interface index="16" name="LineDetectionAlgo" param="&lt;=$78.00,6,1.80,1.50,6.00,0,10" nickname="多边缺料检测" />
          <interface index="17" name="MsiBottomSidesRegionLocationAlgo" param="N/A,11,95,25,20,18,5,1" nickname="字符区域" />
          <interface index="18" name="MsiGapDetectAlgo" param="&lt;$10,11,1,0,25,1.80,0.50,2.00,15.00" nickname="字符区域多料检测" />
          <interface index="19" name="LineDetectionAlgo" param="&lt;$82.00,11,1.80,1.50,6.00,0,10" nickname="字符多料检测" />
          <interface index="20" name="CircleRegionLocationAlgo" param="N/A,7,140.00,208.00" nickname="侧壁" />
          <interface index="21" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,7,0.50,3,0.70,1,C:\Program Files\SMVS\data\CH3\侧面2检测CH3\侧壁模板\侧壁模板.shm, " nickname="匹配算法" />
          <interface index="22" name="MsiDetectRegionLocationAlgo" param="N/A,8,1.00,1,C:\Program Files\SMVS\data\CH3\侧面2检测CH3\侧壁模板\20170320151107.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁1" />
          <interface index="23" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,8,9,25,72,2,10,100" nickname="侧壁1黑点" />
          <interface index="24" name="EdgeAlgo" param="&lt;$10,8,25,10" nickname="毛发1检测" />
          <interface index="25" name="MsiDetectRegionLocationAlgo" param="N/A,9,1.00,1,C:\Program Files\SMVS\data\CH3\侧面2检测CH3\侧壁模板\20170320151133.reg, ,1.00,1.00,3.00,60,1.00" nickname="侧壁2" />
          <interface index="26" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,9,9,30,60,2,10,100" nickname="侧壁2黑点" />
          <interface index="27" name="EdgeAlgo" param="&lt;$10,9,25,10" nickname="毛发2检测" />
          <interface index="28" name="MsiDetectRegionLocationAlgo" param="N/A,10,1.00,1,C:\Program Files\SMVS\data\CH3\侧面2检测CH3\侧壁模板\20170320151155.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁3" />
          <interface index="29" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,10,9,20,55,2,10,100" nickname="侧壁黑点3" />
          <interface index="30" name="EdgeAlgo" param="&lt;$10,10,30,10" nickname="毛发3检测" />
          <interface index="31" name="DetectRegionLocationAlgo" param="N/A,12,1.00,1,C:\Program Files\SMVS\data\CH3\侧面2检测CH3\侧壁模板\20170319110723.reg, " nickname="底部边缘" />
          <interface index="32" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,12,9,18,38,1,10,50" nickname="底部边缘黑点检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="4" product_id="5" max_speed="49">
      <Camera>
        <Name>CH4 (22089593)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>0</DelayAbs>
      </Camera>
      <Light id="0" tag=" $ $ $ ">
        <ParameterGroup name="顶部检测CH4">
          <controller id="0" mode="1" value="45$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>350</Delay>
        <SignalWidth>50</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>2</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
        <Interval>-1</Interval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="顶部检测CH4">
        <task name="顶部检测CH4" model_name="单接口顶部检测" product_id="5">
          <interface index="0" name="MsiVoidCenterLocationAlgo" param="N/A,0" nickname="中心定位" />
          <interface index="1" name="CircleRegionLocationAlgo" param="N/A,1,80.00,208.00" nickname="搜索区域" />
          <interface index="2" name="MatchingParaMinScoreAlgo" param="&gt;$0.50,1,0.50,3,0.85,1,C:\Program Files\SMVS\data\CH4\顶部检测CH4\顶部模板\顶部模板.shm, " nickname="匹配计算" />
          <interface index="3" name="DetectRegionLocationAlgo" param="N/A,2,1.00,1,C:\Program Files\SMVS\data\CH4\顶部检测CH4\顶部模板\20170314092949.reg, " nickname="顶部区域" />
          <interface index="4" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,2,9,65,100,1,10,30" nickname="顶部黑点检测" />
          <interface index="5" name="DetectRegionLocationAlgo" param="N/A,5,1.00,1,C:\Program Files\SMVS\data\CH4\顶部检测CH4\顶部模板\20170319122959.reg, " nickname="顶部上表面" />
          <interface index="6" name="BlackDetectAlgo" param="&lt;$4,5,3,42,100,5" nickname="顶部毛发检测" />
          <interface index="7" name="DetectRegionLocationAlgo" param="N/A,3,1.00,1,C:\Program Files\SMVS\data\CH4\顶部检测CH4\顶部模板\20170314093307.reg, " nickname="顶部注点" />
          <interface index="8" name="BlackDetectAlgo" param="&lt;$5,3,3,55,100,5" nickname="注点极黑点检测" />
          <interface index="9" name="DetectRegionLocationAlgo" param="N/A,4,1.00,1,C:\Program Files\SMVS\data\CH4\顶部检测CH4\顶部模板\20170314093516.reg, " nickname="底部区域" />
          <interface index="10" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,4,9,40,40,5,10,100" nickname="底部极黑点检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="5" product_id="5" max_speed="49">
      <Camera>
        <Name>CH5 (21801139)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>15</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>195000</DelayAbs>
      </Camera>
      <Light id="0" tag=" $ $ $ ">
        <ParameterGroup name="侧面3检测CH5">
          <controller id="0" mode="1" value="45$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>1050</Delay>
        <SignalWidth>50</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
        <Interval>-1</Interval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="侧面3检测CH5">
        <task name="侧面3检测CH5" model_name="侧面检测" product_id="5">
          <interface index="0" name="MsiUpperSurfaceRegionExtractAlgo" param="N/A,3,20,30,600,289,10,25" nickname="中心区域定位" />
          <interface index="1" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,0,4.50,63,1,1,1" nickname="上表面区域1" />
          <interface index="2" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,0,3,50,70,8,10,100" nickname="尾部整体检测" />
          <interface index="3" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,1,8.00,114,16,20,1" nickname="上表面检测2" />
          <interface index="4" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,1,3,40,70,1,10,50" nickname="尾部加强筋黑点检测" />
          <interface index="5" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,13,1.00,158,80,37,33" nickname="加强筋1区域" />
          <interface index="6" name="LineDetectionAlgo" param="&lt;$5.00,13,1.20,7.00,8.00,-1,10" nickname="加强筋1线条检测" />
          <interface index="7" name="MsiUpperSurfaceTopRegionLocationAlgo" param="N/A,2,10.00,50,26,38" nickname="上表面区域3" />
          <interface index="8" name="DerivateGaussDetectAlgo" param="&lt;$5,2,1.00,1.00,-1,500,8,200,10" nickname="尾部上边沿黑点检测" />
          <interface index="9" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,2,9,45,40,10,10,50" nickname="上边沿黑点检测" />
          <interface index="10" name="MsiUpperSurfaceBottomRegionLocationAlgo" param="N/A,4,10,81,64,35,7.00" nickname="上表面区域4" />
          <interface index="11" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,4,3,50,64,10,20,100" nickname="尾部下边沿黑点检测" />
          <interface index="12" name="MsiUpperSurfaceSidesRegionLocationAlgo" param="N/A,5,3.50,24" nickname="上表面区域5" />
          <interface index="13" name="DerivateGaussDetectAlgo" param="&lt;$5,5,1.00,1.00,-1,500,10,200,10" nickname="尾部两翼黑点检测" />
          <interface index="14" name="MsiEndSidesRegionLocationAlgo" param="N/A,6,16,30,9.00" nickname="缺料检测" />
          <interface index="15" name="MsiGapDetectAlgo" param="&lt;$10,6,0,1,25,1.50,2.00,2.50,15.00" nickname="边缘缺料检测" />
          <interface index="16" name="LineDetectionAlgo" param="&lt;=$90.00,6,1.50,3.00,8.00,0,10" nickname="多边缺料检测" />
          <interface index="17" name="MsiBottomSidesRegionLocationAlgo" param="N/A,11,98,24,25,12,1,1" nickname="字符区域" />
          <interface index="18" name="MsiGapDetectAlgo" param="&lt;$10,11,1,0,25,1.50,0.50,1.80,15.00" nickname="字符区域多料检测" />
          <interface index="19" name="LineDetectionAlgo" param="&lt;$102.00,11,1.80,1.00,6.00,0,10" nickname="字符多料检测" />
          <interface index="20" name="CircleRegionLocationAlgo" param="N/A,7,120.00,208.00" nickname="侧壁" />
          <interface index="21" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,7,0.50,3,0.85,1,C:\Program Files\SMVS\data\CH5\侧面3检测CH5\侧壁模板\侧壁模板.shm, " nickname="匹配算法" />
          <interface index="22" name="MsiDetectRegionLocationAlgo" param="N/A,8,1.00,1,C:\Program Files\SMVS\data\CH5\侧面3检测CH5\侧壁模板\20170320151742.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁1" />
          <interface index="23" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,8,9,25,75,2,10,100" nickname="侧壁1黑点" />
          <interface index="24" name="EdgeAlgo" param="&lt;$10,8,25,10" nickname="毛发1检测" />
          <interface index="25" name="MsiDetectRegionLocationAlgo" param="N/A,9,1.00,1,C:\Program Files\SMVS\data\CH5\侧面3检测CH5\侧壁模板\20170320151811.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁2" />
          <interface index="26" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,9,9,20,70,2,10,100" nickname="侧壁2黑点" />
          <interface index="27" name="EdgeAlgo" param="&lt;$10,9,25,10" nickname="毛发2检测" />
          <interface index="28" name="MsiDetectRegionLocationAlgo" param="N/A,10,1.00,1,C:\Program Files\SMVS\data\CH5\侧面3检测CH5\侧壁模板\20170320151914.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁3" />
          <interface index="29" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,10,9,20,55,2,10,100" nickname="侧壁3黑点" />
          <interface index="30" name="EdgeAlgo" param="&lt;$10,10,25,10" nickname="毛发3检测" />
          <interface index="31" name="DetectRegionLocationAlgo" param="N/A,12,1.00,1,C:\Program Files\SMVS\data\CH5\侧面3检测CH5\侧壁模板\20170319111623.reg, " nickname="底部边缘" />
          <interface index="32" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,12,9,18,38,1,10,50" nickname="底部边缘黑点检测" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="6" product_id="5" max_speed="49">
      <Camera>
        <Name>CH6 (21801128)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>15</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>185000</DelayAbs>
      </Camera>
      <Light id="0" tag=" $ $ $ ">
        <ParameterGroup name="侧面4检测CH6">
          <controller id="0" mode="1" value="45$0$2;150$0$2;150$0$2;150$0$2" />
        </ParameterGroup>
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>1050</Delay>
        <SignalWidth>50</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>5000</CDC>
        <Interval>-1</Interval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="侧面4检测CH6">
        <task name="侧面4检测CH6" model_name="侧面检测" product_id="5">
          <interface index="0" name="MsiUpperSurfaceRegionExtractAlgo" param="N/A,3,20,24,600,315,10,25" nickname="中心区域定位" />
          <interface index="1" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,0,6.00,50,1,1,1" nickname="上表面区域1" />
          <interface index="2" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,0,3,50,70,8,10,100" nickname="尾部整体检测" />
          <interface index="3" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,1,3.50,120,20,18,5" nickname="上表面检测2" />
          <interface index="4" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,1,3,50,70,1,10,60" nickname="尾部加强筋黑点检测" />
          <interface index="5" name="MsiUpperSurfaceCenterRegionLocationAlgo" param="N/A,13,3.50,158,80,40,30" nickname="加强筋1区域" />
          <interface index="6" name="LineDetectionAlgo" param="&lt;$5.00,13,1.30,7.00,8.00,-1,10" nickname="加强筋1线条检测" />
          <interface index="7" name="MsiUpperSurfaceTopRegionLocationAlgo" param="N/A,2,8.50,50,38,35" nickname="上表面区域3" />
          <interface index="8" name="DerivateGaussDetectAlgo" param="&lt;$5,2,1.00,1.00,-1,500,10,200,10" nickname="尾部上边沿黑点检测" />
          <interface index="9" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,2,9,45,40,10,10,50" nickname="上边沿黑点检测" />
          <interface index="10" name="MsiUpperSurfaceBottomRegionLocationAlgo" param="N/A,4,10,88,63,33,5.50" nickname="上表面区域4" />
          <interface index="11" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,4,3,50,64,10,20,100" nickname="尾部下边沿黑点检测" />
          <interface index="12" name="MsiUpperSurfaceSidesRegionLocationAlgo" param="N/A,5,5.00,24" nickname="上表面区域5" />
          <interface index="13" name="DerivateGaussDetectAlgo" param="&lt;$5,5,1.00,1.00,-1,500,10,400,10" nickname="尾部两翼黑点检测" />
          <interface index="14" name="MsiEndSidesRegionLocationAlgo" param="N/A,6,17,30,9.00" nickname="缺料检测" />
          <interface index="15" name="MsiGapDetectAlgo" param="&lt;$10,6,0,1,25,1.40,2.00,2.50,15.00" nickname="边缘缺料检测" />
          <interface index="16" name="LineDetectionAlgo" param="&lt;=$94.07,6,1.80,1.50,6.00,-1,11" nickname="多边缺料检测" />
          <interface index="17" name="MsiBottomSidesRegionLocationAlgo" param="N/A,11,95,25,25,12,5,1" nickname="字符区域" />
          <interface index="18" name="MsiGapDetectAlgo" param="&lt;$10,11,1,0,25,2.00,0.50,2.00,15.00" nickname="字符区域多料检测" />
          <interface index="19" name="LineDetectionAlgo" param="&lt;$104.00,11,1.80,1.00,3.00,-1,10" nickname="字符多料检测" />
          <interface index="20" name="CircleRegionLocationAlgo" param="N/A,7,120.00,208.00" nickname="侧壁" />
          <interface index="21" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,7,0.50,3,0.70,1,C:\Program Files\SMVS\data\CH6\侧面4检测CH6\侧壁模板\侧壁模板.shm, " nickname="匹配算法" />
          <interface index="22" name="MsiDetectRegionLocationAlgo" param="N/A,8,1.00,1,C:\Program Files\SMVS\data\CH6\侧面4检测CH6\侧壁模板\20170320152328.reg, ,1.50,0.50,2.00,60,1.00" nickname="侧壁1" />
          <interface index="23" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,8,9,25,80,2,10,100" nickname="侧壁黑点" />
          <interface index="24" name="EdgeAlgo" param="&lt;$10,8,25,10" nickname="毛发1检测" />
          <interface index="25" name="MsiDetectRegionLocationAlgo" param="N/A,9,1.00,1,C:\Program Files\SMVS\data\CH6\侧面4检测CH6\侧壁模板\20170320152405.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁2" />
          <interface index="26" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,9,9,20,60,2,10,100" nickname="侧壁2黑点" />
          <interface index="27" name="EdgeAlgo" param="&lt;$10,9,25,10" nickname="毛发2检测" />
          <interface index="28" name="MsiDetectRegionLocationAlgo" param="N/A,10,1.00,1,C:\Program Files\SMVS\data\CH6\侧面4检测CH6\侧壁模板\20170320152433.reg, ,1.50,1.00,3.00,60,1.00" nickname="侧壁3" />
          <interface index="29" name="BlackDetectExcludeEdgesAlgo" param="&lt;$3,10,9,20,50,2,10,100" nickname="侧壁3黑点" />
          <interface index="30" name="EdgeAlgo" param="&lt;$10,10,25,10" nickname="毛发3检测" />
          <interface index="31" name="DetectRegionLocationAlgo" param="N/A,12,1.00,1,C:\Program Files\SMVS\data\CH6\侧面4检测CH6\侧壁模板\20170319112007.reg, " nickname="底部边缘" />
          <interface index="32" name="BlackDetectExcludeEdgesAlgo" param="&lt;$1,12,9,18,40,1,10,50" nickname="底部边缘黑点检测" />
        </task>
      </TaskGroup>
    </channel>
  </PanelSetting>
</configuration>
