<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="9" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="XXXX公司XX产品检测系统登录" />
    <add key="TV_SCREEN_TITLE" value="Production Statistics" />
    <add key="LANGUAGE" value="ENU" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="8" />
  </BasicSetting>
  <ShiftSetting>
    <shift name="早班" bgn_time="630" end_time="1230" />
    <shift name="中班" bgn_time="1300" end_time="1900" />
    <shift name="夜班" bgn_time="1930" end_time="130" />
  </ShiftSetting>
  <TaskModel>
    <model name="CanOutsideModel" product_id="9">
      <interface index="0" name="CenterLocationAlgo" nickname="CL" param="N/A,0,220,40" />
      <interface index="1" name="RectangleLocationAlgo" nickname="ROI1" param="N/A,1,185,208,40,320" />
      <interface index="2" name="DetectError" nickname="Test1" param="&lt;=$20,1,185,208,40,320" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" max_speed="-9999">
      <Camera>
        <Name>CH1 (21850336)</Name>
        <TriggerMode>N</TriggerMode>
        <FrameRate>3</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>3</Gain>
        <DelayAbs>0</DelayAbs>
      </Camera>
      <Light id="0" tag="Light$ $ $ ">
        <ParameterGroup name="NeckDetect" />
        <ParameterGroup name="CH1CanOutsideTest" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>1</GreenLightPort>
        <Mode>T</Mode>
        <Delay>75</Delay>
        <SignalWidth>30</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="CH1CanOutsideTest">
        <task name="CH1CanOutsideTest" model_name="CanOutsideModel" product_id="9" blowthreshold="3">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,220,40" nickname="CL" />
          <interface index="1" enable="true" name="RectangleLocationAlgo" param="N/A,1,185,208,40,320" nickname="ROI1" />
          <interface index="2" enable="true" name="DetectError" param="&lt;=$20,1,185,208,40,320" nickname="Test1" />
        </task>
        <task name="自学习_CH1" product_id="9" self_learning="true" sample_count="2" param="" />
      </TaskGroup>
    </channel>
    <channel index="2" max_speed="-9999">
      <Camera>
        <Name>CH2 (21850336)</Name>
        <TriggerMode>N</TriggerMode>
        <FrameRate>3</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>3</Gain>
        <DelayAbs>0</DelayAbs>
      </Camera>
      <Light id="0" tag="Light$ $ $ ">
        <ParameterGroup name="CH2CanOutsideTest" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>1</GreenLightPort>
        <Mode>T</Mode>
        <Delay>75</Delay>
        <SignalWidth>30</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="CH2CanOutsideTest">
        <task name="CH2CanOutsideTest" model_name="CanOutsideModel" product_id="9" blowthreshold="3">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,220,40" nickname="CL" />
          <interface index="1" enable="true" name="RectangleLocationAlgo" param="N/A,1,185,208,40,320" nickname="ROI1" />
          <interface index="2" enable="true" name="DetectError" param="&lt;=$20,1,185,208,40,320" nickname="Test1" />
        </task>
        <task name="自学习_CH2" product_id="9" self_learning="true" sample_count="2" param="" />
      </TaskGroup>
    </channel>    
  </PanelSetting>
</configuration>
