<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="10" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="XXXX公司XX产品检测系统登录" />
    <add key="LANGUAGE" value="CHS" />
    <add key="LC_PORT" value="3" />
    <!--CHS,CHT,ENU-->
  </BasicSetting>
  <ShiftSetting>
    <shift name="早班" bgn_time="630" end_time="1230" />
    <shift name="中班" bgn_time="1300" end_time="1900" />
    <shift name="夜班" bgn_time="1930" end_time="130" />
  </ShiftSetting>
  <TaskModel>
    <model name="螺钉弯曲度检测" product_id="10">
      <interface index="0" name="CenterRegionExtractAlgo" nickname="中心定位" param="N/A,2,45,115,1450,260,15,30,100" />
      <interface index="1" name="DetectRegionLocationAlgo" nickname="检测区域" param="N/A,3,80,35,35" />
      <interface index="2" name="CurveDetectAlgo" nickname="弯曲度检测" param="&lt;$2000,3" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" max_speed="-1">
      <Camera>
        <Name>CH1 (22100208)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>130</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH2 (22073513)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH3 (22100238)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH4 (22100243)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH5 (22100257)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH6 (22100258)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>FALL</TriggerActivation>
        <Gain>1</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>1500</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="螺钉侧面1检测CH1" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>8</RedLightPort>
        <GreenLightPort>16</GreenLightPort>
        <Mode>D</Mode>
        <Delay>343</Delay>
        <SignalWidth>24</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
      </Rejector>
      <TaskGroup crt_task_name="螺钉侧面1检测CH1">
        <task name="螺钉侧面1检测CH1" model_name="螺钉弯曲度检测" product_id="10" blowthreshold="3">
          <interface index="0" name="CenterRegionExtractAlgo" nickname="中心定位" param="N/A,2,45,115,1450,260,15,30,100" />
          <interface index="1" enable="true" name="DetectRegionLocationAlgo" param="N/A,3,80,35,35" nickname="检测区域" />
          <interface index="2" enable="true" name="CurveDetectAlgo" param="&lt;$2000,3" nickname="弯曲度检测" />
        </task>
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
  </PanelSetting>
</configuration>
