<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="6" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克视觉检测系统" />
    <add key="LOGON_DLG_TITLE" value="检测系统登录" />
    <add key="LANGUAGE" value="CHS" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="1" />
    <add key="BATCHNUMBER" value="" />
    <add key="IMAGE_HEAP_UP" value="10" />
  </BasicSetting>
  <ShiftSetting auto_reset="false">
    <shift name="白班" bgn_time="800" end_time="2000" />
    <shift name="晚班" bgn_time="2000" end_time="800" />
  </ShiftSetting>
  <TaskModel>
    <model name="商标工位检测" product_id="6">
      <interface index="0" name="CenterLocationAlgo" nickname="中心定位" param="N/A,0,220,40" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="模板区" param="N/A,1,185,208" />
    </model>
    <model name="侧面检测" product_id="6">
      <interface index="0" name="SideCenterLocationAlgoForColor" nickname="侧面中心定位" param="N/A,2,0,3,0,0,128,128" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="6" max_speed="334">
      <Camera>
        <Name>CH1 (22869205)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>10</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light id="0,1" tag="环光90°$环光75°$碗光红$碗光绿,碗光蓝$同轴红$同轴绿$同轴蓝">
        <ParameterGroup name="盖面检测" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>8</GreenLightPort>
        <Mode>192.168.200.160</Mode>
        <Delay>195</Delay>
        <SignalWidth>25</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <CDC>30</CDC>
        <DeviceIP>192.168.200.160</DeviceIP>
        <DropDetectPort>0</DropDetectPort>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>3182304</ReSiToSol>
        <ReRejectFunc>Y</ReRejectFunc>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CDC_SA>0</CDC_SA>
        <LastN>20000</LastN>
        <LastNRatioUCL>100</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <CameraGrabTime>11</CameraGrabTime>
        <TriggerIngoreTime>12</TriggerIngoreTime>
      </Rejector>
      <TaskGroup crt_task_name="盖面检测">
        <task name="盖面检测" model_name="商标工位检测" product_id="6" blowthreshold="3">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,203,14" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,198.500,7.000" nickname="R角" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdForColorAlgo" param="&lt;=$5,3,0,1,3.50,60,10" nickname="彩色旋转对比" />
          <interface index="3" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,194.000,208.000" nickname="全区域" />
          <interface index="4" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$15,4,1.000,1.000,0,400,20,500,15" nickname="黑白点" />
          <interface index="5" enable="true" name="DynThresholdForColorAlgo" param="&lt;=$26,4,0,1,31,40,25,25,35,15" nickname="黑白斑" />
          <interface index="6" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,10.000,208.000" nickname="模板区" />
          <interface index="7" enable="true" name="MatchingParaAlgo" param="&gt;=$0.51,1,1.000,1,E:\SMVS_MCS\trunk\x64\Debug\data\CH1\盖面检测\商标\商标.shm, " nickname="商标匹配" />
          <interface index="8" enable="true" name="DetectRegionLocationAlgoOCR" param="N/A,2,1.500,1,E:\SMVS_MCS\trunk\x64\Debug\data\CH1\盖面检测\商标\20191128091822.reg, " nickname="平缓区域" />
          <interface index="9" enable="true" name="GLineAlgo" param="&lt;=$20,2,1.100,8.000,10,1.000,7.000,30" nickname="线状缺陷" />
          <interface index="10" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$15,2,1.000,1.000,0,500,20,400,20" nickname="黑白点检测" />
          <interface index="11" enable="true" name="DynThresholdForColorAlgo" param="&lt;=$30,2,0,1,21,20,15,21,20,15" nickname="黑白大缺陷" />
        </task>
        <task name="SelfLearn_CH1" product_id="6" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
    <channel index="2" product_id="6" max_speed="334" single_processor="false" Modelfiles="true">
      <Camera>
        <Name>CH4 (22574701)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1823</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>130</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="三叉侧面20_D3" />
        <ParameterGroup name="单叉侧面20_D1f" />
        <ParameterGroup name="双叉侧面20_D2" />
        <ParameterGroup name="双叉侧面20_D2f" />
        <ParameterGroup name="圆形侧面20_B2" />
        <ParameterGroup name="圆形侧面20_F3" />
        <ParameterGroup name="侧面" />
      </Light>
      <Camera>
        <Name>CH5 (22574721)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1804</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>130</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH6 (22488295)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>300</Gain>
        <DelayAbs>1804</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>130</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH7 (22488292)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>400</Gain>
        <DelayAbs>1858</DelayAbs>
        <DelayType>1</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>130</ExposureTime>
      </Camera>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>6</RejectorPort>
        <RedLightPort>12</RedLightPort>
        <GreenLightPort>15</GreenLightPort>
        <Mode>192.168.200.163</Mode>
        <Delay>2815</Delay>
        <SignalWidth>27</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>0</CDC>
        <DeviceIP>192.168.200.163</DeviceIP>
        <DropDetectPort>7</DropDetectPort>
        <CDC_SA>0</CDC_SA>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>1545680</ReSiToSol>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CameraGrabTime>20</CameraGrabTime>
        <SignalIngorTime>27</SignalIngorTime>
        <TriggerIngoreTime>60</TriggerIngoreTime>
        <LastN>5000</LastN>
        <LastNRatioUCL>0.5</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
      </Rejector>
      <DispConfig>
        <Width>600</Width>
        <Height>500</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="侧面">
        <task name="侧面" model_name="侧面检测" product_id="6" blowthreshold="3">
          <interface index="0" enable="true" name="SideCenterLocationAlgoForColor" param="N/A,2,0,2,0,0,40,78,11" nickname="侧面中心定位" />
          <interface index="1" enable="true" name="ExpansionContourGenerationRegionAlgo" param="N/A,0,1,-86,30,-40" nickname="轮廓膨胀区域" />
          <interface index="2" enable="true" name="StepEdgeDetectAlgo" param="&gt;=$0,0,20,0,11" nickname="台阶检测" />
          <interface index="3" enable="true" name="AlRegionLocationAlgo" param="N/A,3,18,-2,20.000" nickname="铝片" />
          <interface index="4" enable="true" name="DynThresholdForColorAlgo" param="&lt;=$30,3,6,1,15,35,10,15,35,10" nickname="直飞横飞黑斑" />
          <interface index="5" enable="true" name="GSurfaceAlgo" param="&lt;=$490,3,104,40,999,250" nickname="褶皱" />
          <interface index="6" enable="false" name="EdgeForColorAlgo" param="&lt;=$20,3,6,1,80,20" nickname="直飞" />
          <interface index="7" enable="true" name="PlasticRegionLocationAlgo" param="N/A,1,-2,-9,20.000" nickname="塑片" />
          <interface index="8" enable="true" name="EdgeAlgo" param="&lt;=$19,1,31,15" nickname="边缘" />
          <interface index="9" enable="true" name="DynThresholdAlgo" param="&lt;=$20,1,7,60,10,7,20,10" nickname="黑白缺陷" />
        </task>
        <task name="SelfLearn_CH1" product_id="6" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
    </channel>
    <channel index="3" product_id="6" max_speed="334">
      <Camera>
        <Name>CH3 (22861081)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>10</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>3</Gain>
        <DelayAbs>45</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>9000</GevSCPSPacketSize>
        <DropFrameUcl>3</DropFrameUcl>
        <ExposureTime>120</ExposureTime>
      </Camera>
      <Light id="4" tag=" $$$" />
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>1</RejectorPort>
        <RedLightPort>2</RedLightPort>
        <GreenLightPort>8</GreenLightPort>
        <Mode>192.168.200.162</Mode>
        <Delay>165</Delay>
        <SignalWidth>25</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <CDC>30</CDC>
        <DeviceIP>192.168.200.162</DeviceIP>
        <DropDetectPort>0</DropDetectPort>
        <ReRejectFlag>N</ReRejectFlag>
        <ReSiToSol>3182304</ReSiToSol>
        <ReRejectFunc>Y</ReRejectFunc>
        <ReDelay>0</ReDelay>
        <ReSignalWidth>0</ReSignalWidth>
        <CDC_SA>0</CDC_SA>
        <LastN>20000</LastN>
        <LastNRatioUCL>100</LastNRatioUCL>
        <LastNAlarmFlag>0</LastNAlarmFlag>
        <CameraGrabTime>11</CameraGrabTime>
        <TriggerIngoreTime>12</TriggerIngoreTime>
      </Rejector>
      <TaskGroup crt_task_name="SelfLearn_CH1">
        <task name="SelfLearn_CH1" product_id="6" self_learning="true" sample_count="50" param="540@100.000,541@65.000,542@10.000,543@15.000,537@180.000,538@1.000,539@500.00" />
      </TaskGroup>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
    </channel>
  </PanelSetting>
</configuration>
