<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BasicSetting>
    <add key="PRODUCT" value="12" />
    <add key="CUSTOMISED_TITLE" value="苏州斯莱克精密设备股份有限公司" />
    <add key="LOGON_DLG_TITLE" value="药品盖产品检测系统登录" />
    <add key="TV_SCREEN_TITLE" value="Production Statistics" />
    <add key="LANGUAGE" value="CHS" />
    <!--CHS,CHT,ENU-->
    <add key="LC_PORT" value="9" />
    <add key="BATCHNUMBER" value="" />
  </BasicSetting>
  <ShiftSetting auto_reset="false">
    <shift name="早班" bgn_time="800" end_time="1600" />
    <shift name="中班" bgn_time="1600" end_time="0" />
    <shift name="夜班" bgn_time="0" end_time="800" />
  </ShiftSetting>
  <TaskModel>
    <model name="瓶身检测" product_id="12">
      <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,8,40" nickname="中心定位" />
      <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,100.00,208.00" nickname="匹配区域" />
      <interface index="2" enable="true" name="MatchingParaAlgo" param="&gt;=$0.60,1,0.70,1, , " nickname="匹配计算" />
      <interface index="3" enable="true" name="DetectRegionLocationAlgo" param="N/A,2,3.00,1, , " nickname="瓶身区域" />
      <interface index="4" enable="true" name="BlackDetectAlgo" param="&lt;=$7,2,11,6,20,4" nickname="瓶身黑点" />
      <interface index="5" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.00,1.00,-1,200,10,200,10" nickname="瓶身小缺陷" />
      <interface index="6" enable="true" name="DetectRegionLocationAlgo" param="N/A,3,3.00,1, , " nickname="瓶底区域" />
      <interface index="7" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,3,7,60,10,7,60,10" nickname="底部壁薄检测" />
      <interface index="8" enable="true" name="DetectRegionLocationAlgo" param="N/A,4,3.00,1, , " nickname="口部区域1" />
      <interface index="9" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,4,3,40,20,10,10,100" nickname="黑点检测" />
      <interface index="10" enable="true" name="DetectRegionLocationAlgo" param="N/A,5,0.50,1, , " nickname="口部区域2" />
      <interface index="11" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$10,5,5,20,1,5,20,1" nickname="口部检测" />
      <interface index="12" enable="true" name="DetectRegionLocationAlgo" param="N/A,6,3.00,1, , " nickname="口部区域3" />
      <interface index="13" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,6,1.00,1.00,-1,200,10,200,10" nickname="黑白点检测" />
      <interface index="14" enable="true" name="DetectRegionLocationAlgo" param="N/A,9,1.00,1, , " nickname="口部区域4" />
      <interface index="15" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$6,9,3,40,60,10,10,100" nickname="瓶颈黑点检测" />
      <interface index="16" enable="true" name="DetectRegionLocationAlgo" param="N/A,16,1.00,1, , " nickname="口部区域" />
      <interface index="17" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$4,16,3,39,26,6,10,50" nickname="整体黑点检测" />
      <interface index="18" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$2,16,0.80,1.50,-1,495,1,600,10" nickname="整体黑点检测2" />
    </model>
    <model name="瓶口检测" product_id="12">
      <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,7,145,30" nickname="中心定位" />
      <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,185.50,10.00" nickname="外环" />
      <interface index="2" enable="true" name="CurlOptimizeAlgo" param="&lt;=$4,1,3.00,12.00,0,11.20,2" nickname="外边缘检测" />
      <interface index="3" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2,1,1.00,30,8" nickname="外环边缘黑点" />
      <interface index="4" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,170.50,5.00" nickname="中环" />
      <interface index="5" enable="true" name="CurlOptimizeAlgo" param="&lt;=$2,9,2.00,10.00,-1,18.40,2" nickname="外环黑点检测2" />
      <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2,9,1.50,75,4" nickname="外环黑点2" />
      <interface index="7" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,160.00,10.00" nickname="内环" />
      <interface index="8" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,8,3.50,60,10" nickname="瓶口缺料" />
      <interface index="9" enable="true" name="UVCurlAlgo" param="&lt;=$20,8,300,30.00,50,60" nickname="瓶口缺料UV" />
      <interface index="10" enable="true" name="BlackDetectAlgo" param="&lt;=$1,8,3,20,20,3" nickname="瓶口黑点" />
      <interface index="11" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,144.50,8.00" nickname="中心边缘" />
      <interface index="12" enable="true" name="BlackDetectAlgo" param="&lt;=$2,6,3,20,60,4" nickname="中心边缘黑点检测" />
      <interface index="13" enable="true" name="CurlOptimizeAlgo" param="&lt;=$10,6,2.00,10.00,0,9.20,2" nickname="中心边缘缺陷检测" />
      <interface index="14" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,141.00,187.50" nickname="中心圆形" />
      <interface index="15" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$2,12,1.00,1.00,-1,660,5,500,20" nickname="黑点检测1" />
      <interface index="16" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,12,5,35,60,8,120,700" nickname="黑点检测2" />
      <interface index="17" enable="true" name="CircleRegionLocationAlgo" param="N/A,10,187.00,48.00" nickname="整体检测区域" />
      <interface index="18" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$3,10,3,28,30,3,10,50" nickname="整体检测1" />
      <interface index="19" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$3,10,1.00,1.00,-1,680,8,200,10" nickname="整体检测2" />
    </model>
    <model name="瓶底检测" product_id="12">
      <interface index="0" name="CenterLocationAlgo" nickname="中心定位" param="N/A,0,214,15" />
      <interface index="1" name="CircleRegionLocationAlgo" nickname="瓶底边缘" param="N/A,9,210.500,6.000" />
      <interface index="2" name="CurlOptimizeAlgo" nickname="边缘缺陷" param="&lt;=$20,9,2.00,10.00,-1,16.10,20" />
      <interface index="3" name="CircleRegionLocationAlgo" nickname="外环区域1" param="N/A,1,207.000,18.500" />
      <interface index="4" name="BlackDetectAlgo" nickname="外环黑点" param="&lt;=$1,1,9,21,55,5" />
      <interface index="5" name="AnnularRotaDynThresholdAlgo" nickname="外环缺陷" param="&lt;=$24,1,3.000,39,25" />
      <interface index="6" name="DerivateGaussDetectAlgo" nickname="边沿极黑点检测" param="&lt;=$10,1,1.000,1.000,-1,200,25,200,25" />
      <interface index="7" name="CircleRegionLocationAlgo" nickname="外环区域2" param="N/A,2,181.000,13.000" />
      <interface index="8" name="BlackDetectAlgo" nickname="外环黑点2" param="&lt;=$10,2,3,30,80,25" />
      <interface index="9" name="DerivateGaussDetectAlgo" nickname="外环极黑点检测" param="&lt;=$5,2,1.000,1.000,-1,156,30,257,175" />
      <interface index="10" name="AnnularRotaDynThresholdAlgo" nickname="外环黑斑检测" param="&lt;=$10,2,3.000,35,15" />
      <interface index="11" name="CircleRegionLocationAlgo" nickname="中心区域1" param="N/A,6,168.000,32.000" />
      <interface index="12" name="BlackDetectExcludeEdgesAlgo" nickname="中心1黑点检测" param="&lt;=$2,6,9,20,10,60,10,30" />
      <interface index="13" name="AnnularRotaDynThresholdAlgo" nickname="黑点检测" param="&lt;$5,6,3.000,30,20" />
      <interface index="14" name="DerivateGaussDetectAlgo" nickname="外环极黑点检测1" param="&lt;=$10,6,1.000,1.000,-1,200,25,262,25" />
      <interface index="15" name="CircleRegionLocationAlgo" nickname="中心区域3" param="N/A,3,84.500,120.500" />
      <interface index="16" name="DynThresholdAlgo" nickname="大缺陷" param="&lt;$5,3,45,25,20,21,33,30" />
      <interface index="17" name="LineDetectionAlgo" nickname="白黑点检测" param="&lt;$5.00,3,2.300,3.000,8.000,-1,100" />
      <interface index="18" name="BlackDetectAlgo" nickname="中心3黑点检测" param="&lt;=$5,3,9,15,20,15" />
      <interface index="19" name="CircleRegionLocationAlgo" nickname="中心区域" param="N/A,12,184.000,268.000" />
      <interface index="20" name="AnnularRotaDynThresholdAlgo" nickname="底薄检测3" param="&lt;=$800,12,37.000,54,200" />
      <interface index="21" name="BlackDetectExcludeEdgesAlgo" nickname="整体检测1" param="&lt;=$25,12,3,25,60,14,8,55" />
      <interface index="22" name="DerivateGaussDetectAlgo" nickname="整体检测2" param="&lt;=$20,12,1.000,1.000,-1,400,30,200,10" />
      <interface index="23" name="DynThresholdAlgo" nickname="底薄检测2" param="&lt;=$188,12,7,62,10,35,23,200" />
      <interface index="24" name="CircleRegionLocationAlgo" nickname="薄罐区域" param="N/A,4,44.000,208.000" />
      <interface index="25" name="CurlNoCompoundAlgo" nickname="薄罐检测" param="&lt;=$231,4" />
      <interface index="26" name="CircleRegionLocationAlgo" nickname="数字区域1" param="N/A,5,140.000,50.000" />
      <interface index="27" name="OcrAngleDetectAlgo1" nickname="数字角度" param="&gt;=$-1.00,5,0.005" />
      <interface index="28" name="SectorRegionLocationAlgo" nickname="字符区域" param="N/A,7,141.000,57.500,22.000,340.000" />
      <interface index="29" name="BlackDetectAlgo" nickname="字符黑点检测" param="&lt;=$5,7,7,17,67,17" />
      <interface index="30" name="EdgeAlgo" nickname="字符边沿检测" param="&lt;=$10,7,21,20" />
      <interface index="31" name="DerivateGaussDetectAlgo" nickname="字符极黑点检测" param="&lt;=$10,7,1.000,1.000,-1,118,37,200,17" />
      <interface index="32" name="SectorRegionLocationAlgo" nickname="数字区域" param="N/A,11,135.500,47.500,-16.500,17.000" />
      <interface index="33" name="CreateOcrModelAlgo" nickname="建模测试" param="&lt;$11,6,9,10,20,6,13.00,5.00,90,50" />
      <interface index="34" name="FindOcrNumberAlgo" nickname="数字测试" param="&lt;$11,10,9,10,20,6,13.00,5.00,90,50" />
    </model>
  </TaskModel>
  <PanelSetting>
    <channel index="1" product_id="12" max_speed="-9999">
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>9</RejectorPort>
        <RedLightPort>6</RedLightPort>
        <GreenLightPort>10</GreenLightPort>
        <Mode>T</Mode>
        <Delay>8600</Delay>
        <SignalWidth>198</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <Interval>-1</Interval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>30</CDC>
        <DeviceIP>129.101.1.160</DeviceIP>
        <DropDetectPort>1</DropDetectPort>
        <CDC_SA>0</CDC_SA>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="C30MLD瓶底检测">
        <task name="C30MLD瓶底检测" model_name="瓶底检测" product_id="12" blowthreshold="119" rjectdelay="1">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,214,15" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,210.500,6.000" nickname="瓶底边缘" />
          <interface index="2" enable="true" name="CurlOptimizeAlgo" param="&lt;=$20,9,2.00,10.00,-1,16.10,20" nickname="边缘缺陷" />
          <interface index="3" enable="false" name="CenterLocationUseEdgesAlgo" param="N/A,8,214,10,100,0.050" nickname="执行" />
          <interface index="4" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,207.000,18.500" nickname="外环区域1" />
          <interface index="5" enable="true" name="BlackDetectAlgo" param="&lt;=$1,1,9,21,55,5" nickname="外环黑点" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$24,1,3.000,39,25" nickname="外环缺陷" />
          <interface index="7" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,1,1.000,1.000,-1,200,25,200,25" nickname="边沿极黑点检测" />
          <interface index="8" enable="true" name="CircleRegionLocationAlgo" param="N/A,2,181.000,13.000" nickname="外环区域2" />
          <interface index="9" enable="true" name="BlackDetectAlgo" param="&lt;=$10,2,3,30,80,25" nickname="外环黑点2" />
          <interface index="10" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.000,1.000,-1,156,30,257,175" nickname="外环极黑点检测" />
          <interface index="11" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,2,3.000,35,15" nickname="外环黑斑检测" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,168.000,32.000" nickname="中心区域1" />
          <interface index="13" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$2,6,9,20,10,60,10,30" nickname="中心1黑点检测" />
          <interface index="14" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$5,6,3.000,30,20" nickname="黑点检测" />
          <interface index="15" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,6,1.000,1.000,-1,200,25,262,25" nickname="外环极黑点检测1" />
          <interface index="16" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,84.500,120.500" nickname="中心区域3" />
          <interface index="17" enable="true" name="DynThresholdAlgo" param="&lt;$5,3,45,25,20,21,33,30" nickname="大缺陷" />
          <interface index="18" enable="true" name="LineDetectionAlgo" param="&lt;$5.00,3,2.300,3.000,8.000,-1,100" nickname="白黑点检测" />
          <interface index="19" enable="true" name="BlackDetectAlgo" param="&lt;=$5,3,9,15,20,15" nickname="中心3黑点检测" />
          <interface index="20" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,184.000,268.000" nickname="中心区域" />
          <interface index="21" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$800,12,37.000,54,200" nickname="底薄检测3" />
          <interface index="22" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$25,12,3,25,60,14,8,55" nickname="整体检测1" />
          <interface index="23" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,12,1.000,1.000,-1,400,30,200,10" nickname="整体检测2" />
          <interface index="24" enable="true" name="DynThresholdAlgo" param="&lt;=$188,12,7,62,10,35,23,200" nickname="底薄检测2" />
          <interface index="25" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,44.000,208.000" nickname="薄罐区域" />
          <interface index="26" enable="true" name="CurlNoCompoundAlgo" param="&lt;=$231,4" nickname="薄罐检测" />
          <interface index="27" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,140.000,50.000" nickname="数字区域1" />
          <interface index="28" enable="true" name="OcrAngleDetectAlgo1" param="&gt;=$-1.00,5,0.005" nickname="数字角度" />
          <interface index="29" enable="true" name="SectorRegionLocationAlgo" param="N/A,7,141.000,57.500,22.000,340.000" nickname="字符区域" />
          <interface index="30" enable="true" name="BlackDetectAlgo" param="&lt;=$5,7,7,17,67,17" nickname="字符黑点检测" />
          <interface index="31" enable="true" name="EdgeAlgo" param="&lt;=$10,7,21,20" nickname="字符边沿检测" />
          <interface index="32" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,7,1.000,1.000,-1,118,37,200,17" nickname="字符极黑点检测" />
          <interface index="33" enable="true" name="SectorRegionLocationAlgo" param="N/A,11,135.500,47.500,-16.500,17.000" nickname="数字区域" />
          <interface index="34" enable="false" name="CreateOcrModelAlgo" param="&lt;$11,6,9,10,20,6,13.00,5.00,90,50" nickname="建模测试" />
          <interface index="35" enable="true" name="FindOcrNumberAlgo" param="&lt;$11,10,9,10,20,6,13.00,5.00,90,50" nickname="数字测试" />
        </task>
        <task name="C30MLA瓶底检测" model_name="瓶底检测" product_id="12" blowthreshold="182" rjectdelay="1">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,193,6" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,191.00,6.00" nickname="瓶底边缘" />
          <interface index="2" enable="true" name="CurlOptimizeAlgo" param="&lt;=$20,9,2.000,10.000,-1,17.800,20" nickname="边缘缺陷" />
          <interface index="3" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,188.00,30.00" nickname="外环区域1" />
          <interface index="4" enable="true" name="BlackDetectAlgo" param="&lt;=$1,1,45,20,9,20" nickname="外环黑点" />
          <interface index="5" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$24,1,3.000,40,50" nickname="外环缺陷" />
          <interface index="6" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,1,1.000,1.000,-1,200,50,200,25" nickname="边沿极黑点检测" />
          <interface index="7" enable="true" name="CircleRegionLocationAlgo" param="N/A,2,159.00,13.00" nickname="外环区域2" />
          <interface index="8" enable="true" name="BlackDetectAlgo" param="&lt;=$10,2,3,30,56,25" nickname="外环黑点2" />
          <interface index="9" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.000,1.000,-1,156,30,257,175" nickname="外环极黑点检测" />
          <interface index="10" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,2,3.000,40,41" nickname="外环黑斑检测" />
          <interface index="11" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,142.500,30.000" nickname="中心区域1" />
          <interface index="12" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$2,6,9,28,10,39,10,30" nickname="中心1黑点检测" />
          <interface index="13" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$5,6,3.000,35,20" nickname="黑点检测" />
          <interface index="14" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$30,6,1.000,1.000,-1,36,60,226,50" nickname="外环极黑点检测1" />
          <interface index="15" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,70.00,120.50" nickname="中心区域3" />
          <interface index="16" enable="true" name="DynThresholdAlgo" param="&lt;$5,3,45,20,20,21,33,30" nickname="大缺陷" />
          <interface index="17" enable="true" name="LineDetectionAlgo" param="&lt;$5.00,3,2.300,3.000,8.000,-1,92" nickname="白黑点检测" />
          <interface index="18" enable="true" name="BlackDetectAlgo" param="&lt;=$5,3,11,5,21,41" nickname="中心3黑点检测" />
          <interface index="19" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,184.000,268.000" nickname="中心区域" />
          <interface index="20" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$300,12,37.000,66,75" nickname="底薄检测3" />
          <interface index="21" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$25,12,3,25,60,18,9,55" nickname="整体检测1" />
          <interface index="22" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$20,12,1.000,1.000,-1,224,35,200,10" nickname="整体检测2" />
          <interface index="23" enable="false" name="DynThresholdAlgo" param="&lt;=$188,12,7,62,10,47,79,220" nickname="底薄检测2" />
          <interface index="24" enable="true" name="CircleRegionLocationAlgo" param="N/A,4,58.000,208.000" nickname="薄罐区域" />
          <interface index="25" enable="true" name="CurlNoCompoundAlgo" param="&lt;=$207,4" nickname="薄罐检测" />
          <interface index="26" enable="true" name="CircleRegionLocationAlgo" param="N/A,5,111.500,38.000" nickname="数字区域1" />
          <interface index="27" enable="true" name="OcrAngleDetectAlgo1" param="&gt;=$-1.00,5,0.005" nickname="数字角度" />
          <interface index="28" enable="true" name="SectorRegionLocationAlgo" param="N/A,7,112.500,57.500,24.000,330.000" nickname="字符区域" />
          <interface index="29" enable="true" name="BlackDetectAlgo" param="&lt;=$5,7,41,25,20,30" nickname="字符黑点检测" />
          <interface index="30" enable="true" name="EdgeAlgo" param="&lt;=$10,7,50,54" nickname="字符边沿检测" />
          <interface index="31" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,7,1.000,1.000,-1,44,54,200,51" nickname="字符极黑点检测" />
          <interface index="32" enable="true" name="SectorRegionLocationAlgo" param="N/A,11,121.500,54.500,-15.500,15.500" nickname="数字区域" />
          <interface index="33" enable="false" name="CreateOcrModelAlgo" param="&lt;$11,6,9,10,20,6,13.00,5.00,90,50" nickname="建模测试" />
          <interface index="34" enable="true" name="FindOcrNumberAlgo" param="&lt;$11,10,9,10,20,6,13.00,5.00,90,50" nickname="数字测试" />
          <interface index="35" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,143.500,208.000" nickname="瓶底区域" />
          <interface index="36" enable="true" name="DynThresholdAlgo" param="&lt;=$232,8,25,30,34,35,31,164" nickname="瓶底检测" />
        </task>
      </TaskGroup>
      <Camera>
        <Name>CH1 (22172424)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light id="0" tag="瓶底检测光源$瓶口检测光源$瓶身检测光源$">
        <ParameterGroup name="C30MLA瓶底检测">
          <controller id="0" mode="1" value="46$0$3;152$0$3;54$0$3;0$0$0" />
        </ParameterGroup>
        <ParameterGroup name="C30MLD瓶底检测">
          <controller id="0" mode="1" value="70$0$3;152$0$3;55$0$3;0$0$0" />
        </ParameterGroup>
      </Light>
    </channel>
    <channel index="2" product_id="12" max_speed="49">
      <Camera>
        <Name>CH2 (22172419)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>5</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>350</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="C30MLA瓶口检测" />
        <ParameterGroup name="C30MLD瓶口检测" />
      </Light>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>0</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>8600</Delay>
        <SignalWidth>100</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>30</CDC>
        <Interval>-1</Interval>
        <DeviceIP>129.101.1.161</DeviceIP>
        <DropDetectPort>3</DropDetectPort>
        <CDC_SA>0</CDC_SA>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="C30MLD瓶口检测">
        <task name="C30MLD瓶口检测" model_name="瓶口检测" product_id="12" blowthreshold="80" rjectdelay="502">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,7,164,20" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,200.000,13.500" nickname="外环" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2,1,3.000,18,20" nickname="外环边缘黑点" />
          <interface index="3" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$5,1,1.000,1.000,-1,200,20,200,15" nickname="极黑点检测" />
          <interface index="4" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,179.500,17.000" nickname="中环" />
          <interface index="5" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$11,9,1.000,1.200,-1,290,20,300,17" nickname="小黑点白点检测" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,9,3.000,16,35" nickname="外环黑点2" />
          <interface index="7" enable="false" name="CircleRegionLocationAlgo" param="N/A,3,181.000,185.500" nickname="匹配区域" />
          <interface index="8" enable="false" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,3,0.50,3,0.85,1,C:\Program Files\SMVS\data\CH2\C30MLD瓶口检测\缝合线\缝合线.shm, " nickname="匹配算法" />
          <interface index="9" enable="false" name="DetectRegionLocationAlgo" param="N/A,2,-0.500,1,C:\Program Files\SMVS\data\CH2\C30MLD瓶口检测\缝合线\20170603150050.reg, " nickname="缝合线区域" />
          <interface index="10" enable="false" name="AnnularRotaDynThresholdAlgo" param="&lt;=$5,2,3.500,32,14" nickname="黑点检测" />
          <interface index="11" enable="false" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.00,1.00,-1,350,10,200,10" nickname="外环极黑点检测" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,163.500,14.500" nickname="内环" />
          <interface index="13" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,8,3.500,61,11" nickname="瓶口缺料" />
          <interface index="14" enable="true" name="UVCurlAlgo" param="&lt;=$17,8,300,40.00,30,20" nickname="瓶口缺料UV" />
          <interface index="15" enable="true" name="BlackDetectAlgo" param="&lt;=$20,8,3,35,31,4" nickname="瓶口黑点" />
          <interface index="16" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,144.500,16.000" nickname="中心边缘" />
          <interface index="17" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$5,6,4.000,25,5" nickname="缺口检测" />
          <interface index="18" enable="true" name="DynThresholdAlgo" param="&lt;=$20,6,7,60,10,9,10,10" nickname="缺料内" />
          <interface index="19" enable="true" name="BlackDetectAlgo" param="&lt;=$2,6,7,45,58,15" nickname="中心边缘黑点检测" />
          <interface index="20" enable="true" name="CircleRegionLocationAlgo" param="N/A,0,131.00,18.00" nickname="中心内边" />
          <interface index="21" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$10,0,3.000,10,10" nickname="旋转异物检测" />
          <interface index="22" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,115.00,187.50" nickname="中心圆形" />
          <interface index="23" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$2,12,1.00,1.20,-1,200,5,500,20" nickname="黑点检测1" />
          <interface index="24" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,12,9,15,20,5,10,700" nickname="黑点检测2" />
          <interface index="25" enable="true" name="CircleRegionLocationAlgo" param="N/A,10,192.000,54.500" nickname="整体检测区域" />
          <interface index="26" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$19,10,1.000,1.500,-1,300,19,200,10" nickname="整体检测2" />
        </task>
        <task name="C30MLA瓶口检测" model_name="瓶口检测" product_id="12" blowthreshold="122" rjectdelay="502">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,7,192,6" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,186.500,13.500" nickname="外环" />
          <interface index="2" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$2,1,3.000,10,20" nickname="外环边缘黑点" />
          <interface index="3" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$5,1,1.000,1.000,-1,200,20,200,15" nickname="极黑点检测" />
          <interface index="4" enable="true" name="CircleRegionLocationAlgo" param="N/A,9,178.500,17.000" nickname="中环" />
          <interface index="5" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$11,9,1.000,1.200,-1,290,20,300,17" nickname="小黑点白点检测" />
          <interface index="6" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,9,3.000,30,35" nickname="外环黑点2" />
          <interface index="7" enable="true" name="CircleRegionLocationAlgo" param="N/A,3,181.000,185.500" nickname="匹配区域" />
          <interface index="8" enable="true" name="MatchingParaMinScoreAlgo" param="&gt;=$0.50,3,0.50,3,0.85,1,C:\Program Files\SMVS\data\CH2\C30MLA瓶口检测\缝合线\缝合线.shm, " nickname="匹配算法" />
          <interface index="9" enable="true" name="DetectRegionLocationAlgo" param="N/A,2,-0.500,1,C:\Program Files\SMVS\data\CH2\C30MLA瓶口检测\缝合线\20170603150050.reg, " nickname="缝合线区域" />
          <interface index="10" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$5,2,3.500,29,30" nickname="黑点检测" />
          <interface index="11" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.00,1.00,-1,350,10,200,10" nickname="外环极黑点检测" />
          <interface index="12" enable="true" name="CircleRegionLocationAlgo" param="N/A,8,158.500,4.500" nickname="内环" />
          <interface index="13" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;=$10,8,3.500,61,11" nickname="瓶口缺料" />
          <interface index="14" enable="true" name="UVCurlAlgo" param="&lt;=$17,8,300,40.00,30,20" nickname="瓶口缺料UV" />
          <interface index="15" enable="true" name="BlackDetectAlgo" param="&lt;=$20,8,3,35,31,4" nickname="瓶口黑点" />
          <interface index="16" enable="true" name="CircleRegionLocationAlgo" param="N/A,6,149.500,9.000" nickname="中心边缘" />
          <interface index="17" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$5,6,8.000,25,37" nickname="缺口检测" />
          <interface index="18" enable="true" name="BlackDetectAlgo" param="&lt;=$2,6,7,33,70,26" nickname="中心边缘黑点检测" />
          <interface index="19" enable="true" name="CircleRegionLocationAlgo" param="N/A,0,131.00,18.00" nickname="中心内边" />
          <interface index="20" enable="true" name="AnnularRotaDynThresholdAlgo" param="&lt;$10,0,3.000,10,10" nickname="旋转异物检测" />
          <interface index="21" enable="true" name="CircleRegionLocationAlgo" param="N/A,12,115.00,187.50" nickname="中心圆形" />
          <interface index="22" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$2,12,1.00,1.20,-1,200,5,500,20" nickname="黑点检测1" />
          <interface index="23" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,12,9,8,20,5,10,700" nickname="黑点检测2" />
          <interface index="24" enable="true" name="CircleRegionLocationAlgo" param="N/A,10,192.000,54.500" nickname="整体检测区域" />
          <interface index="25" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$19,10,1.000,1.500,-1,300,19,200,10" nickname="整体检测2" />
        </task>
      </TaskGroup>
    </channel>
    <channel index="3" product_id="12" max_speed="49" ModelFiles="true" single_processor="false">
      <Camera>
        <Name>CH3 (22187824)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>400</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Light>
        <ParameterGroup name="C30MLA瓶身检测" />
        <ParameterGroup name="C30MLD瓶身检测" />
      </Light>
      <Camera>
        <Name>CH4 (22172376)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>400</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH5 (22187813)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>400</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Camera>
        <Name>CH6 (22169995)</Name>
        <TriggerMode>Y</TriggerMode>
        <FrameRate>20</FrameRate>
        <TriggerActivation>RISE</TriggerActivation>
        <Gain>400</Gain>
        <DelayAbs>0</DelayAbs>
        <DelayType>0</DelayType>
        <GevSCPSPacketSize>5000</GevSCPSPacketSize>
        <DropFrameUcl>30</DropFrameUcl>
        <ExposureTime>100</ExposureTime>
      </Camera>
      <Rejector>
        <EncoderID>1</EncoderID>
        <RejectorPort>6</RejectorPort>
        <RedLightPort>3</RedLightPort>
        <GreenLightPort>2</GreenLightPort>
        <Mode>T</Mode>
        <Delay>3800</Delay>
        <SignalWidth>100</SignalWidth>
        <TestFlag>N</TestFlag>
        <TestMode>0</TestMode>
        <RejectCount>-1</RejectCount>
        <RejectInterval>-1</RejectInterval>
        <ReverseRejectFlag>0</ReverseRejectFlag>
        <CDC>30</CDC>
        <Interval>-1</Interval>
        <DeviceIP>129.101.1.162</DeviceIP>
        <DropDetectPort>5</DropDetectPort>
        <CDC_SA>0</CDC_SA>
      </Rejector>
      <DispConfig>
        <Width>659</Width>
        <Height>494</Height>
      </DispConfig>
      <SPC_Chart>
        <X_UNIT>X1000</X_UNIT>
        <X_LEN>20</X_LEN>
        <Y_UNIT>‰</Y_UNIT>
      </SPC_Chart>
      <TaskGroup crt_task_name="C30MLD瓶身检测">
        <task name="C30MLD瓶身检测" model_name="瓶身检测" product_id="12" blowthreshold="87" rjectdelay="172">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,4,40" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,90.000,208.000" nickname="匹配区域" />
          <interface index="2" enable="true" name="MatchingParaAlgo" param="&gt;=$0.60,1,0.600,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\defined.shm, " nickname="匹配计算" />
          <interface index="3" enable="true" name="DetectRegionLocationAlgo" param="N/A,8,1.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20170602155049.reg, " nickname="瓶颈区域" />
          <interface index="4" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$6,8,1.00,1.50,-1,300,20,200,10" nickname="瓶颈极黑点检测" />
          <interface index="5" enable="true" name="DetectRegionLocationAlgoOCR" param="N/A,7,1.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20170518101512.reg, " nickname="瓶身检测区域" />
          <interface index="6" enable="true" name="LineDetectionExclude90Algo" param="&lt;=$10.00,7,1.200,2.900,5.000,0,9" nickname="盖面找线" />
          <interface index="7" enable="true" name="DynThresholdAlgoOCR" param="&lt;=$30,7,116,20,115,40,6.000" nickname="对比检测" />
          <interface index="8" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,7,9,20,30,30,20,100" nickname="瓶身黑斑检测" />
          <interface index="9" enable="true" name="DetectRegionLocationAlgo" param="N/A,2,3.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160113101511.reg, " nickname="瓶身区域" />
          <interface index="10" enable="true" name="BlackDetectAlgo" param="&lt;=$3,2,9,66,50,20" nickname="瓶身黑点" />
          <interface index="11" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.000,1.200,0,310,25,305,20" nickname="瓶身小缺陷" />
          <interface index="12" enable="true" name="BubbleDetectProfileAlgo" param="&lt;$10,2,45,16,26,45,35,18" nickname="大黑点白点检测" />
          <interface index="13" enable="true" name="DetectRegionLocationAlgo" param="N/A,3,3.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160113103313.reg, " nickname="瓶底区域" />
          <interface index="14" enable="true" name="EdgeAlgo" param="&lt;=$10,3,50,10" nickname="压伤检测" />
          <interface index="15" enable="true" name="LineDetectionExclude90Algo" param="&lt;=$10.00,3,1.200,2.500,4.000,0,15" nickname="划伤检测" />
          <interface index="16" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,3,19,10,10,45,67,10" nickname="瓶底壁薄检测" />
          <interface index="17" enable="true" name="DetectRegionLocationAlgo" param="N/A,4,3.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160113103940.reg, " nickname="口部区域1" />
          <interface index="18" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,4,5,38,20,14,10,100" nickname="黑点检测" />
          <interface index="19" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$16,4,1.000,1.500,-1,400,19,800,10" nickname="黑点检测2" />
          <interface index="20" enable="true" name="DetectRegionLocationAlgo" param="N/A,5,0.50,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160113105646.reg, " nickname="口部区域2" />
          <interface index="21" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$10,5,3,20,10,3,20,10" nickname="口部2检测" />
          <interface index="22" enable="true" name="DynThresholdAlgo" param="&lt;=$10,5,80,90,10,9,230,91" nickname="黑点检测1" />
          <interface index="23" enable="true" name="DetectRegionLocationAlgo" param="N/A,6,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160113114539.reg, " nickname="口部区域3" />
          <interface index="24" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,6,1.00,1.00,-1,350,15,447,7" nickname="黑白点检测" />
          <interface index="25" enable="true" name="DetectRegionLocationAlgo" param="N/A,9,1.000,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160304111822.reg, " nickname="口部区域4" />
          <interface index="26" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$6,9,9,35,80,15,10,60" nickname="瓶颈黑点检测" />
          <interface index="27" enable="true" name="DetectRegionLocationAlgo" param="N/A,16,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLD瓶身检测\defined\20160803211147.reg, " nickname="口部区域" />
          <interface index="28" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$10,16,3,100,50,15,10,50" nickname="整体黑点检测" />
          <interface index="29" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,16,1.20,1.80,-1,350,15,600,10" nickname="整体黑点检测2" />
        </task>
        <task name="C30MLA瓶身检测" model_name="瓶身检测" product_id="12" blowthreshold="103" rjectdelay="172">
          <interface index="0" enable="true" name="CenterLocationAlgo" param="N/A,0,4,40" nickname="中心定位" />
          <interface index="1" enable="true" name="CircleRegionLocationAlgo" param="N/A,1,60.000,208.000" nickname="匹配区域" />
          <interface index="2" enable="true" name="MatchingParaAlgo" param="&gt;=$0.60,1,0.60,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\defined.shm, " nickname="匹配计算" />
          <interface index="3" enable="true" name="DetectRegionLocationAlgo" param="N/A,8,1.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20170602155049.reg, " nickname="瓶颈区域" />
          <interface index="4" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$6,8,1.000,1.500,-1,200,45,200,44" nickname="瓶颈极黑点检测" />
          <interface index="5" enable="true" name="DetectRegionLocationAlgoOCR" param="N/A,7,1.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20170518101512.reg, " nickname="瓶身检测区域" />
          <interface index="6" enable="true" name="LineDetectionExclude90Algo" param="&lt;=$10.00,7,1.200,2.700,5.000,0,35" nickname="盖面找线" />
          <interface index="7" enable="true" name="DynThresholdAlgoOCR" param="&lt;=$30,7,80,20,115,40,6.000" nickname="对比检测" />
          <interface index="8" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;$5,7,9,27,18,32,20,50" nickname="瓶身黑斑检测" />
          <interface index="9" enable="true" name="DetectRegionLocationAlgo" param="N/A,2,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160113101511.reg, " nickname="瓶身区域" />
          <interface index="10" enable="true" name="BlackDetectAlgo" param="&lt;=$3,2,9,16,16,29" nickname="瓶身黑点" />
          <interface index="11" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,2,1.000,1.200,0,300,45,305,30" nickname="瓶身小缺陷" />
          <interface index="12" enable="true" name="BubbleDetectProfileAlgo" param="&lt;$10,2,45,31,35,57,47,68" nickname="大黑点白点检测" />
          <interface index="13" enable="true" name="DetectRegionLocationAlgo" param="N/A,3,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160113103313.reg, " nickname="瓶底区域" />
          <interface index="14" enable="true" name="EdgeAlgo" param="&lt;=$10,3,88,36" nickname="压伤检测" />
          <interface index="15" enable="true" name="LineDetectionExclude90Algo" param="&lt;=$10.00,3,1.200,2.500,4.000,0,15" nickname="划伤检测" />
          <interface index="16" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$20,3,19,37,50,45,67,32" nickname="瓶底壁薄检测" />
          <interface index="17" enable="true" name="DetectRegionLocationAlgo" param="N/A,4,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160113103940.reg, " nickname="口部区域1" />
          <interface index="18" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$5,4,5,54,18,46,10,100" nickname="黑点检测" />
          <interface index="19" enable="true" name="DerivateGaussDetectAlgo" param="&lt;$16,4,1.000,1.500,-1,400,42,800,10" nickname="黑点检测2" />
          <interface index="20" enable="true" name="DetectRegionLocationAlgo" param="N/A,5,-2.000,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160113105646.reg, " nickname="口部区域2" />
          <interface index="21" enable="true" name="BubbleDetectProfileAlgo" param="&lt;=$10,5,3,20,10,3,20,10" nickname="口部2检测" />
          <interface index="22" enable="true" name="DynThresholdAlgo" param="&lt;=$10,5,80,90,10,9,230,91" nickname="黑点检测1" />
          <interface index="23" enable="true" name="DetectRegionLocationAlgo" param="N/A,6,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160113114539.reg, " nickname="口部区域3" />
          <interface index="24" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$5,6,1.000,1.000,-1,107,40,104,25" nickname="黑白点检测" />
          <interface index="25" enable="true" name="DetectRegionLocationAlgo" param="N/A,9,1.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160304111822.reg, " nickname="口部区域4" />
          <interface index="26" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$6,9,9,26,15,21,8,45" nickname="瓶颈黑点检测" />
          <interface index="27" enable="true" name="DetectRegionLocationAlgo" param="N/A,16,3.00,1,C:\Program Files\SMVS\data\CH3\C30MLA瓶身检测\defined\20160803211147.reg, " nickname="口部区域" />
          <interface index="28" enable="true" name="BlackDetectExcludeEdgesAlgo" param="&lt;=$10,16,7,90,18,30,32,71" nickname="整体黑点检测" />
          <interface index="29" enable="true" name="DerivateGaussDetectAlgo" param="&lt;=$10,16,1.200,1.800,-1,184,35,600,10" nickname="整体黑点检测2" />
        </task>
      </TaskGroup>
    </channel>
  </PanelSetting>
</configuration>
